<a href="https://colab.research.google.com/github/codingniket/Python-Training/blob/main/22_12_2025/Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit
spark = SparkSession.builder.appName("SparkByExamples.com").getOrCreate()

In [1]:
data = [
    ("U001","Kochi",200),
    ("U002","Assam",200),
    ("U003","Kolkata",200),
    ("U004","Delhi",200),
    ("U005","Hydrabad",300),
]

In [2]:
columns = ["user_id","city","amount"]

In [4]:
df = spark.createDataFrame(data,columns)

In [12]:
from pyspark.sql.functions import col,when

In [6]:
df = df.withColumn("amount_with_tax",col("amount") * 1.10)

In [8]:
df.show()

+-------+--------+------+------------------+
|user_id|    city|amount|   amount_with_tax|
+-------+--------+------+------------------+
|   U001|   Kochi|   200|220.00000000000003|
|   U002|   Assam|   200|220.00000000000003|
|   U003| Kolkata|   200|220.00000000000003|
|   U004|   Delhi|   200|220.00000000000003|
|   U005|Hydrabad|   300|             330.0|
+-------+--------+------+------------------+

In [9]:
df = df.replace("Delhi","New Delhi", subset=["city"])

In [10]:
df.show()

+-------+---------+------+------------------+
|user_id|     city|amount|   amount_with_tax|
+-------+---------+------+------------------+
|   U001|    Kochi|   200|220.00000000000003|
|   U002|    Assam|   200|220.00000000000003|
|   U003|  Kolkata|   200|220.00000000000003|
|   U004|New Delhi|   200|220.00000000000003|
|   U005| Hydrabad|   300|             330.0|
+-------+---------+------+------------------+

In [13]:
df = df.withColumn(
    "amount_category",
    when(col("amount") < 200, lit("Low"))
    .when(col("amount") < 400, lit("Medium"))
    .otherwise(lit("High"))
)

df.show()

+-------+---------+------+------------------+---------------+
|user_id|     city|amount|   amount_with_tax|amount_category|
+-------+---------+------+------------------+---------------+
|   U001|    Kochi|   200|220.00000000000003|         Medium|
|   U002|    Assam|   200|220.00000000000003|         Medium|
|   U003|  Kolkata|   200|220.00000000000003|         Medium|
|   U004|New Delhi|   200|220.00000000000003|         Medium|
|   U005| Hydrabad|   300|             330.0|         Medium|
+-------+---------+------+------------------+---------------+