<a href="https://colab.research.google.com/github/codingniket/Python-Training/blob/main/22_12_2025/Milestone_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
raw_drivers = [
("D001","Ramesh","35","Hyderabad","Car,Bike"),
("D002","Suresh","Forty","Bangalore","Auto"),
("D003","Anita",None,"Mumbai",["Car"]),
("D004","Kiran","29","Delhi","Car|Bike"),
("D005","", "42","Chennai",None)
]

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit, when,regexp_replace, split, trim, array_compact, transform, get_json_object, lower
spark = SparkSession.builder.appName("MileStone1").getOrCreate()
from pyspark.sql.types import (StructType, StructField, StringType,LongType,IntegerType,ArrayType,MapType)

In [ ]:
driver_schema = StructType([
    StructField("driverid", StringType(), nullable=False),
    StructField("name", StringType(), nullable=True),
    StructField("age", StringType(), nullable=True),
    StructField("city", StringType(), nullable=True),
    StructField("vechile", StringType(), nullable=True)
])
df = spark.createDataFrame(raw_drivers,driver_schema)
df.show()

+--------+------+-----+---------+--------+
|driverid|  name|  age|     city| vechile|
+--------+------+-----+---------+--------+
|    D001|Ramesh|   35|Hyderabad|Car,Bike|
|    D002|Suresh|Forty|Bangalore|    Auto|
|    D003| Anita| NULL|   Mumbai|   [Car]|
|    D004| Kiran|   29|    Delhi|Car|Bike|
|    D005|      |   42|  Chennai|    NULL|
+--------+------+-----+---------+--------+

Fixing Given Issue Below

Known Issues
Age in mixed formats

Vehicle types in string / array / multiple delimiters

Missing names

Null value

In [ ]:
clean_age = df.withColumn("age", when(col("age") == "", None)
    .when(col("age").rlike(r"^\d+$"),
          col("age").cast(IntegerType()))
    .otherwise(None))

clean_name_city_vechile = clean_age.withColumn("name", when(col("name") == "", None)
    .otherwise(col("name"))) \
.withColumn("city",trim(col("city")))\
.withColumn(
    "vechile",
    (when(
        col("vechile").isNull(),
        None
    ).otherwise(
        array_compact(
            transform(
                split(
                    regexp_replace(
                        col("vechile"),
                        r"\[|\]|'|\|", ","),
                    ","),
                lambda x: when(trim(x) != lit(""), trim(x)).otherwise(lit(None))
            )
        )
    )).cast(ArrayType(StringType()))
)

clean_name_city_vechile.show()

driver_df = clean_name_city_vechile

+--------+------+----+---------+-----------+
|driverid|  name| age|     city|    vechile|
+--------+------+----+---------+-----------+
|    D001|Ramesh|  35|Hyderabad|[Car, Bike]|
|    D002|Suresh|NULL|Bangalore|     [Auto]|
|    D003| Anita|NULL|   Mumbai|      [Car]|
|    D004| Kiran|  29|    Delhi|[Car, Bike]|
|    D005|  NULL|  42|  Chennai|       NULL|
+--------+------+----+---------+-----------+

In [ ]:
raw_cities = [
("Hyderabad","South"),
("Bangalore","South"),
("Mumbai","West"),
("Delhi","North"),
("Chennai","South")
]

In [ ]:
city_schema = StructType([
    StructField("city", StringType(), nullable=True),
    StructField("region", StringType(), nullable=True)
])
city_df = spark.createDataFrame(raw_cities,city_schema)
city_df.show()

+---------+------+
|     city|region|
+---------+------+
|Hyderabad| South|
|Bangalore| South|
|   Mumbai|  West|
|    Delhi| North|
|  Chennai| South|
+---------+------+

Notes

Small reference dataset

Intended for broadcast join

In [ ]:
from pyspark.sql.functions import broadcast

In [ ]:
driver_join  = driver_df.join(broadcast(city_df), "city", "inner")
driver_join.show()

+---------+--------+------+----+-----------+------+
|     city|driverid|  name| age|    vechile|region|
+---------+--------+------+----+-----------+------+
|Hyderabad|    D001|Ramesh|  35|[Car, Bike]| South|
|Bangalore|    D002|Suresh|NULL|     [Auto]| South|
|   Mumbai|    D003| Anita|NULL|      [Car]|  West|
|    Delhi|    D004| Kiran|  29|[Car, Bike]| North|
|  Chennai|    D005|  NULL|  42|       NULL| South|
+---------+--------+------+----+-----------+------+

In [ ]:
raw_trips = [
("T001","D001","Hyderabad","2024-01-05","Completed","450"),
("T002","D002","Bangalore","05/01/2024","Cancelled","0"),
("T003","D003","Mumbai","2024/01/06","Completed","620"),
("T004","D004","Delhi","invalid_date","Completed","540"),
("T005","D001","Hyderabad","2024-01-10","Completed","700"),
("T006","D005","Chennai","2024-01-12","Completed","350")
]

In [ ]:
trips_schema = StructType([
    StructField("userid", StringType(), nullable=False),
    StructField("driverid", StringType(), nullable=False),
    StructField("city", StringType(), nullable=True),
    StructField("date", StringType(), nullable=True),
    StructField("status", StringType(), nullable=True),
    StructField("amount", StringType(), nullable=True),
])
trips_df = spark.createDataFrame(raw_trips,trips_schema)
trips_df.show()

+------+--------+---------+------------+---------+------+
|userid|driverid|     city|        date|   status|amount|
+------+--------+---------+------------+---------+------+
|  T001|    D001|Hyderabad|  2024-01-05|Completed|   450|
|  T002|    D002|Bangalore|  05/01/2024|Cancelled|     0|
|  T003|    D003|   Mumbai|  2024/01/06|Completed|   620|
|  T004|    D004|    Delhi|invalid_date|Completed|   540|
|  T005|    D001|Hyderabad|  2024-01-10|Completed|   700|
|  T006|    D005|  Chennai|  2024-01-12|Completed|   350|
+------+--------+---------+------------+---------+------+

In [ ]:
from pyspark.sql.functions import col, to_date, coalesce, split, lit, array_remove, try_to_timestamp

In [ ]:
clean_date_amount = trips_df.withColumn("amount", col("amount").cast(IntegerType()))\
.withColumn(
    "date",
    coalesce(
        to_date(try_to_timestamp(col("date"), lit("yyyy-MM-dd"))),
        to_date(try_to_timestamp(col("date"), lit("dd/MM/yyyy"))),
        to_date(try_to_timestamp(col("date"), lit("yyyy/MM/dd")))
    )
)

clean_date_amount = clean_date_amount.filter(col("amount") > 0)

clean_date_amount.show()
tripsdf=clean_date_amount

+------+--------+---------+----------+---------+------+
|userid|driverid|     city|      date|   status|amount|
+------+--------+---------+----------+---------+------+
|  T001|    D001|Hyderabad|2024-01-05|Completed|   450|
|  T003|    D003|   Mumbai|2024-01-06|Completed|   620|
|  T004|    D004|    Delhi|      NULL|Completed|   540|
|  T005|    D001|Hyderabad|2024-01-10|Completed|   700|
|  T006|    D005|  Chennai|2024-01-12|Completed|   350|
+------+--------+---------+----------+---------+------+

In [ ]:
raw_activity = [
("D001","login,accept_trip,logout","{'device':'mobile'}",180),
("D002",["login","logout"],"device=laptop",60),
("D003","login|accept_trip",None,120),
("D004",None,"{'device':'tablet'}",90),
("D005","login","{'device':'mobile'}",30)
]

In [ ]:
activity_schema = StructType([
    StructField("userid", StringType(), nullable=False),
    StructField("actions", StringType(), nullable=True),
    StructField("device", StringType(), nullable=True),
    StructField("amount", IntegerType(), nullable=True),
])
activity_df = spark.createDataFrame(raw_activity,activity_schema)
activity_df.show()

+------+--------------------+-------------------+------+
|userid|             actions|             device|amount|
+------+--------------------+-------------------+------+
|  D001|login,accept_trip...|{'device':'mobile'}|   180|
|  D002|     [login, logout]|      device=laptop|    60|
|  D003|   login|accept_trip|               NULL|   120|
|  D004|                NULL|{'device':'tablet'}|    90|
|  D005|               login|{'device':'mobile'}|    30|
+------+--------------------+-------------------+------+

Known Issues
Actions in multiple formats
Metadata as JSON-like strings
Missing actions

In [ ]:
df_activity_clean = activity_df.withColumn(
    "actions",
    (when(
        col("actions").isNull(),
        None
    ).otherwise(
        array_compact(
            transform(
                split(
                    regexp_replace(
                        col("actions"),
                        r"\[|\]|'|\|", ","),
                    ","),
                lambda x: when(trim(x) != lit(""), trim(x)).otherwise(lit(None))
            )
        )
    )).cast(ArrayType(StringType()))
).withColumn(
    "device",
    when(col("device").isNull(), None)
    .when(col("device").like("{'device':%}"), get_json_object(col("device"), "$.device"))
    .when(col("device").like("device=%"), split(col("device"), "=").getItem(1))
    .otherwise(None)
)

df_activity_clean.show(truncate=False)
df_activity_clean.printSchema()

+------+----------------------------+------+------+
|userid|actions                     |device|amount|
+------+----------------------------+------+------+
|D001  |[login, accept_trip, logout]|mobile|180   |
|D002  |[login, logout]             |laptop|60    |
|D003  |[login, accept_trip]        |NULL  |120   |
|D004  |NULL                        |tablet|90    |
|D005  |[login]                     |mobile|30    |
+------+----------------------------+------+------+

root
 |-- userid: string (nullable = false)
 |-- actions: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- device: string (nullable = true)
 |-- amount: integer (nullable = true)

All clean data

PART A — DATA CLEANING & STRUCTURING

. Design explicit schemas for all
 datasets
. Normalize:

Age

Fare

Dates

. Convert vehicle types and actions into arrays

. Handle missing and invalid records gracefully

. Produce clean DataFrames:

drivers_df

cities_df

trips_df

activity_df

In [ ]:
df_activity_clean.show()
tripsdf.show()
driver_join.show()
driver_df.show()
city_df.show()

+------+--------------------+------+------+
|userid|             actions|device|amount|
+------+--------------------+------+------+
|  D001|[login, accept_tr...|mobile|   180|
|  D002|     [login, logout]|laptop|    60|
|  D003|[login, accept_trip]|  NULL|   120|
|  D004|                NULL|tablet|    90|
|  D005|             [login]|mobile|    30|
+------+--------------------+------+------+

+------+--------+---------+----------+---------+------+
|userid|driverid|     city|      date|   status|amount|
+------+--------+---------+----------+---------+------+
|  T001|    D001|Hyderabad|2024-01-05|Completed|   450|
|  T003|    D003|   Mumbai|2024-01-06|Completed|   620|
|  T004|    D004|    Delhi|      NULL|Completed|   540|
|  T005|    D001|Hyderabad|2024-01-10|Completed|   700|
|  T006|    D005|  Chennai|2024-01-12|Completed|   350|
+------+--------+---------+----------+---------+------+

+---------+--------+------+----+-----------+------+
|     city|driverid|  name| age|    vechile|region|
+---------+--------+------+----+-----------+------+
|Hyderabad|    D001|Ramesh|  35|[Car, Bike]| South|
|Bangalore|    D002|Suresh|NULL|     [Auto]| South|
|   Mumbai|    D003| Anita|NULL|      [Car]|  West|
|    Delhi|    D004| Kiran|  29|[Car, Bike]| North|
|  Chennai|    D005|  NULL|  42|       NULL| South|
+---------+--------+------+----+-----------+------+

+--------+------+----+---------+-----------+
|driverid|  name| age|     city|    vechile|
+--------+------+----+---------+-----------+
|    D001|Ramesh|  35|Hyderabad|[Car, Bike]|
|    D002|Suresh|NULL|Bangalore|     [Auto]|
|    D003| Anita|NULL|   Mumbai|      [Car]|
|    D004| Kiran|  29|    Delhi|[Car, Bike]|
|    D005|  NULL|  42|  Chennai|       NULL|
+--------+------+----+---------+-----------+

+---------+------+
|     city|region|
+---------+------+
|Hyderabad| South|
|Bangalore| South|
|   Mumbai|  West|
|    Delhi| North|
|  Chennai| South|
+---------+------+

PART B — DATA INTEGRATION (JOINS)

. Join trips with drivers

. Join trips with cities

. Decide which dataset should be
broadcast

. Prove your decision using explain(True)

. Remove orphan trips (drivers not in master

In [ ]:
city_df.show()

trips_city_join  = tripsdf.join(broadcast(city_df), "city", "inner")
trips_city_join.show()

trips_city_join.explain(True)

ophan = trips_city_join.filter(~trips_city_join["date"].isNull())
ophan.show()

+---------+------+
|     city|region|
+---------+------+
|Hyderabad| South|
|Bangalore| South|
|   Mumbai|  West|
|    Delhi| North|
|  Chennai| South|
+---------+------+

+---------+------+--------+----------+---------+------+------+
|     city|userid|driverid|      date|   status|amount|region|
+---------+------+--------+----------+---------+------+------+
|Hyderabad|  T001|    D001|2024-01-05|Completed|   450| South|
|   Mumbai|  T003|    D003|2024-01-06|Completed|   620|  West|
|    Delhi|  T004|    D004|      NULL|Completed|   540| North|
|Hyderabad|  T005|    D001|2024-01-10|Completed|   700| South|
|  Chennai|  T006|    D005|2024-01-12|Completed|   350| South|
+---------+------+--------+----------+---------+------+------+

== Parsed Logical Plan ==
'Join UsingJoin(Inner, [city])
:- Filter (amount#366 > 0)
:  +- Project [userid#246, driverid#247, city#248, coalesce(to_date(try_to_timestamp(date#249, Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true), to_date(try_to_timestamp(date#249, Some(dd/MM/yyyy), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true), to_date(try_to_timestamp(date#249, Some(yyyy/MM/dd), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true)) AS date#367, status#250, amount#366]
:     +- Project [userid#246, driverid#247, city#248, date#249, status#250, cast(amount#251 as int) AS amount#366]
:        +- LogicalRDD [userid#246, driverid#247, city#248, date#249, status#250, amount#251], false
+- ResolvedHint (strategy=broadcast)
   +- LogicalRDD [city#195, region#196], false

== Analyzed Logical Plan ==
city: string, userid: string, driverid: string, date: date, status: string, amount: int, region: string
Project [city#248, userid#246, driverid#247, date#367, status#250, amount#366, region#196]
+- Join Inner, (city#248 = city#195)
   :- Filter (amount#366 > 0)
   :  +- Project [userid#246, driverid#247, city#248, coalesce(to_date(try_to_timestamp(date#249, Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true), to_date(try_to_timestamp(date#249, Some(dd/MM/yyyy), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true), to_date(try_to_timestamp(date#249, Some(yyyy/MM/dd), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true)) AS date#367, status#250, amount#366]
   :     +- Project [userid#246, driverid#247, city#248, date#249, status#250, cast(amount#251 as int) AS amount#366]
   :        +- LogicalRDD [userid#246, driverid#247, city#248, date#249, status#250, amount#251], false
   +- ResolvedHint (strategy=broadcast)
      +- LogicalRDD [city#195, region#196], false

== Optimized Logical Plan ==
Project [city#248, userid#246, driverid#247, date#367, status#250, amount#366, region#196]
+- Join Inner, (city#248 = city#195), rightHint=(strategy=broadcast)
   :- Project [userid#246, driverid#247, city#248, coalesce(cast(gettimestamp(date#249, yyyy-MM-dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date), cast(gettimestamp(date#249, dd/MM/yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date), cast(gettimestamp(date#249, yyyy/MM/dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date)) AS date#367, status#250, cast(amount#251 as int) AS amount#366]
   :  +- Filter ((isnotnull(amount#251) AND (cast(amount#251 as int) > 0)) AND isnotnull(city#248))
   :     +- LogicalRDD [userid#246, driverid#247, city#248, date#249, status#250, amount#251], false
   +- Filter isnotnull(city#195)
      +- LogicalRDD [city#195, region#196], false

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Project [city#248, userid#246, driverid#247, date#367, status#250, amount#366, region#196]
   +- BroadcastHashJoin [city#248], [city#195], Inner, BuildRight, false
      :- Project [userid#246, driverid#247, city#248, coalesce(cast(gettimestamp(date#249, yyyy-MM-dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date), cast(gettimestamp(date#249, dd/MM/yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date), cast(gettimestamp(date#249, yyyy/MM/dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date)) AS date#367, status#250, cast(amount#251 as int) AS amount#366]
      :  +- Filter ((isnotnull(amount#251) AND (cast(amount#251 as int) > 0)) AND isnotnull(city#248))
      :     +- Scan ExistingRDD[userid#246,driverid#247,city#248,date#249,status#250,amount#251]
      +- BroadcastExchange HashedRelationBroadcastMode(List(input[0, string, false]),false), [plan_id=934]
         +- Filter isnotnull(city#195)
            +- Scan ExistingRDD[city#195,region#196]

+---------+------+--------+----------+---------+------+------+
|     city|userid|driverid|      date|   status|amount|region|
+---------+------+--------+----------+---------+------+------+
|Hyderabad|  T001|    D001|2024-01-05|Completed|   450| South|
|   Mumbai|  T003|    D003|2024-01-06|Completed|   620|  West|
|Hyderabad|  T005|    D001|2024-01-10|Completed|   700| South|
|  Chennai|  T006|    D005|2024-01-12|Completed|   350| South|
+---------+------+--------+----------+---------+------+------+

PART C — ANALYTICS & AGGREGATIONS
. Total trips per city
. Total revenue per city
. Average fare per driver
. Total completed trips per driver
. Identify drivers with no completed trip

PART D — WINDOW FUNCTIONS
. Rank drivers by total revenue (overall)
. Rank drivers by revenue within each city
. Calculate running revenue per city by date
. Compare GroupBy vs Window for one metric

In [ ]:
trips_df.show()

+------+--------+---------+------------+---------+------+
|userid|driverid|     city|        date|   status|amount|
+------+--------+---------+------------+---------+------+
|  T001|    D001|Hyderabad|  2024-01-05|Completed|   450|
|  T002|    D002|Bangalore|  05/01/2024|Cancelled|     0|
|  T003|    D003|   Mumbai|  2024/01/06|Completed|   620|
|  T004|    D004|    Delhi|invalid_date|Completed|   540|
|  T005|    D001|Hyderabad|  2024-01-10|Completed|   700|
|  T006|    D005|  Chennai|  2024-01-12|Completed|   350|
+------+--------+---------+------------+---------+------+

In [ ]:
from pyspark.sql import functions as F

driver_revenue = trips_df.groupBy("driverid") \
    .agg(F.sum("amount").alias("total_revenue")) \
    .orderBy(F.desc("total_revenue"))

driver_revenue.show()

+--------+-------------+
|driverid|total_revenue|
+--------+-------------+
|    D001|       1150.0|
|    D003|        620.0|
|    D004|        540.0|
|    D005|        350.0|
|    D002|          0.0|
+--------+-------------+

In [ ]:
from pyspark.sql.window import Window

In [ ]:
city_driver_rank = trips_df.groupBy("city", "driverid") \
    .agg(F.sum("amount").alias("city_revenue")) \
    .withColumn("rank", F.rank().over(Window.partitionBy("city").orderBy(F.desc("city_revenue"))))
city_driver_rank.show()

+---------+--------+------------+----+
|     city|driverid|city_revenue|rank|
+---------+--------+------------+----+
|Bangalore|    D002|         0.0|   1|
|  Chennai|    D005|       350.0|   1|
|    Delhi|    D004|       540.0|   1|
|Hyderabad|    D001|      1150.0|   1|
|   Mumbai|    D003|       620.0|   1|
+---------+--------+------------+----+

In [ ]:
from pyspark.sql.window import Window

city_date_window = Window.partitionBy("city").orderBy("date") \
    .rowsBetween(Window.unboundedPreceding, Window.currentRow)

running_revenue = trips_df.groupBy("city", "date") \
    .agg(F.sum("amount").alias("daily_revenue")) \
    .withColumn("running_revenue", F.sum("daily_revenue").over(city_date_window))

. Compare GroupBy vs Window for one metric
GroupBy: Aggregates data into fewer rows (e.g., total revenue per driver).
Window: Keeps original granularity but adds computed columns (e.g., rank, cumulative sum).
Use Case:
GroupBy → summary reports.
Window → analytics like ranking, running totals without collapsing rows

PART E — UDF (ONLY IF REQUIRED)
. Classify drivers into performance levels:
High
Medium
Rules:
Low
Prefer built-in functions
Use UDF only if unavoidable
Justify your choic

In [ ]:

from pyspark.sql.functions import udf, col
from pyspark.sql.types import StringType

# Define classification based on revenue
def classify_revenue(revenue):
    if revenue >= 1000:
        return "High"
    elif revenue >= 500:
        return "Medium"
    else:
        return "Low"

# Register UDF
classify_revenue_udf = udf(classify_revenue, StringType())

# Apply UDF on city_revenue column
city_driver_rank.withColumn("revenue_grade", classify_revenue_udf(col("city_revenue"))).show()

{"ts": "2025-12-22 12:10:02.819", "level": "ERROR", "logger": "DataFrameQueryContextLogger", "msg": "[UNRESOLVED_COLUMN.WITH_SUGGESTION] A column, variable, or function parameter with name `city_revenue` cannot be resolved. Did you mean one of the following? [`city`, `driverid`, `age`, `name`, `vechile`]. SQLSTATE: 42703", "context": {"file": "line 17 in cell [60]", "line": "", "fragment": "col", "errorClass": "UNRESOLVED_COLUMN.WITH_SUGGESTION"}, "exception": {"class": "Py4JJavaError", "msg": "An error occurred while calling o49.withColumn.\n: org.apache.spark.sql.AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column, variable, or function parameter with name `city_revenue` cannot be resolved. Did you mean one of the following? [`city`, `driverid`, `age`, `name`, `vechile`]. SQLSTATE: 42703;\n'Project [driverid#0, name#1, age#2, city#3, vechile#4, classify_revenue('city_revenue)#761 AS revenue_grade#762]\n+- LogicalRDD [driverid#0, name#1, age#2, city#3, vechile#4], false\n\n\tat org.apache.spark.sql.errors.QueryCompilationErrors$.unresolvedAttributeError(QueryCompilationErrors.scala:401)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.org$apache$spark$sql$catalyst$analysis$CheckAnalysis$$failUnresolvedAttribute(CheckAnalysis.scala:169)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$7(CheckAnalysis.scala:404)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$7$adapted(CheckAnalysis.scala:402)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:252)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1(TreeNode.scala:251)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1$adapted(TreeNode.scala:251)\n\tat scala.collection.immutable.Vector.foreach(Vector.scala:2125)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:251)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1(TreeNode.scala:251)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1$adapted(TreeNode.scala:251)\n\tat scala.collection.immutable.Vector.foreach(Vector.scala:2125)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:251)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$6(CheckAnalysis.scala:402)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$6$adapted(CheckAnalysis.scala:402)\n\tat scala.collection.immutable.List.foreach(List.scala:334)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2(CheckAnalysis.scala:402)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2$adapted(CheckAnalysis.scala:284)\n\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:252)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0(CheckAnalysis.scala:284)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0$(CheckAnalysis.scala:255)\n\tat org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis0(Analyzer.scala:299)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis(CheckAnalysis.scala:244)\n\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis$(CheckAnalysis.scala:231)\n\tat org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis(Analyzer.scala:299)\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$resolveInFixedPoint$1(HybridAnalyzer.scala:192)\n\tat scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)\n\tat org.apache.spark.sql.catalyst.QueryPlanningTracker$.withTracker(QueryPlanningTracker.scala:89)\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.resolveInFixedPoint(HybridAnalyzer.scala:192)\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$apply$1(HybridAnalyzer.scala:76)\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.withTrackedAnalyzerBridgeState(HybridAnalyzer.scala:111)\n\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.apply(HybridAnalyzer.scala:71)\n\tat org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$1(Analyzer.scala:330)\n\tat org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.markInAnalyzer(AnalysisHelper.scala:423)\n\tat org.apache.spark.sql.catalyst.analysis.Analyzer.executeAndCheck(Analyzer.scala:330)\n\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$2(QueryExecution.scala:110)\n\tat org.apache.spark.sql.catalyst.QueryPlanningTracker.measurePhase(QueryPlanningTracker.scala:148)\n\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$2(QueryExecution.scala:278)\n\tat org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:654)\n\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$1(QueryExecution.scala:278)\n\tat org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)\n\tat org.apache.spark.sql.execution.QueryExecution.executePhase(QueryExecution.scala:277)\n\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$1(QueryExecution.scala:110)\n\tat scala.util.Try$.apply(Try.scala:217)\n\tat org.apache.spark.util.Utils$.doTryWithCallerStacktrace(Utils.scala:1378)\n\tat org.apache.spark.util.Utils$.getTryWithCallerStacktrace(Utils.scala:1439)\n\tat org.apache.spark.util.LazyTry.get(LazyTry.scala:58)\n\tat org.apache.spark.sql.execution.QueryExecution.analyzed(QueryExecution.scala:121)\n\tat org.apache.spark.sql.execution.QueryExecution.assertAnalyzed(QueryExecution.scala:80)\n\tat org.apache.spark.sql.classic.Dataset$.$anonfun$ofRows$1(Dataset.scala:115)\n\tat org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)\n\tat org.apache.spark.sql.classic.Dataset$.ofRows(Dataset.scala:113)\n\tat org.apache.spark.sql.classic.Dataset.withPlan(Dataset.scala:2263)\n\tat org.apache.spark.sql.classic.Dataset.withColumns(Dataset.scala:1283)\n\tat org.apache.spark.sql.classic.Dataset.withColumns(Dataset.scala:232)\n\tat org.apache.spark.sql.Dataset.withColumn(Dataset.scala:2187)\n\tat org.apache.spark.sql.classic.Dataset.withColumn(Dataset.scala:1819)\n\tat jdk.internal.reflect.GeneratedMethodAccessor41.invoke(Unknown Source)\n\tat java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)\n\tat java.base/java.lang.reflect.Method.invoke(Method.java:569)\n\tat py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)\n\tat py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)\n\tat py4j.Gateway.invoke(Gateway.java:282)\n\tat py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)\n\tat py4j.commands.CallCommand.execute(CallCommand.java:79)\n\tat py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:184)\n\tat py4j.ClientServerConnection.run(ClientServerConnection.java:108)\n\tat java.base/java.lang.Thread.run(Thread.java:840)\n\tSuppressed: org.apache.spark.util.Utils$OriginalTryStackTraceException: Full stacktrace of original doTryWithCallerStacktrace caller\n\t\tat org.apache.spark.sql.errors.QueryCompilationErrors$.unresolvedAttributeError(QueryCompilationErrors.scala:401)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.org$apache$spark$sql$catalyst$analysis$CheckAnalysis$$failUnresolvedAttribute(CheckAnalysis.scala:169)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$7(CheckAnalysis.scala:404)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$7$adapted(CheckAnalysis.scala:402)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:252)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1(TreeNode.scala:251)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1$adapted(TreeNode.scala:251)\n\t\tat scala.collection.immutable.Vector.foreach(Vector.scala:2125)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:251)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1(TreeNode.scala:251)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$foreachUp$1$adapted(TreeNode.scala:251)\n\t\tat scala.collection.immutable.Vector.foreach(Vector.scala:2125)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:251)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$6(CheckAnalysis.scala:402)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$6$adapted(CheckAnalysis.scala:402)\n\t\tat scala.collection.immutable.List.foreach(List.scala:334)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2(CheckAnalysis.scala:402)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$2$adapted(CheckAnalysis.scala:284)\n\t\tat org.apache.spark.sql.catalyst.trees.TreeNode.foreachUp(TreeNode.scala:252)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0(CheckAnalysis.scala:284)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0$(CheckAnalysis.scala:255)\n\t\tat org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis0(Analyzer.scala:299)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis(CheckAnalysis.scala:244)\n\t\tat org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis$(CheckAnalysis.scala:231)\n\t\tat org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis(Analyzer.scala:299)\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$resolveInFixedPoint$1(HybridAnalyzer.scala:192)\n\t\tat scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.scala:18)\n\t\tat org.apache.spark.sql.catalyst.QueryPlanningTracker$.withTracker(QueryPlanningTracker.scala:89)\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.resolveInFixedPoint(HybridAnalyzer.scala:192)\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.$anonfun$apply$1(HybridAnalyzer.scala:76)\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.withTrackedAnalyzerBridgeState(HybridAnalyzer.scala:111)\n\t\tat org.apache.spark.sql.catalyst.analysis.resolver.HybridAnalyzer.apply(HybridAnalyzer.scala:71)\n\t\tat org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$1(Analyzer.scala:330)\n\t\tat org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.markInAnalyzer(AnalysisHelper.scala:423)\n\t\tat org.apache.spark.sql.catalyst.analysis.Analyzer.executeAndCheck(Analyzer.scala:330)\n\t\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$2(QueryExecution.scala:110)\n\t\tat org.apache.spark.sql.catalyst.QueryPlanningTracker.measurePhase(QueryPlanningTracker.scala:148)\n\t\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$2(QueryExecution.scala:278)\n\t\tat org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:654)\n\t\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$1(QueryExecution.scala:278)\n\t\tat org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:804)\n\t\tat org.apache.spark.sql.execution.QueryExecution.executePhase(QueryExecution.scala:277)\n\t\tat org.apache.spark.sql.execution.QueryExecution.$anonfun$lazyAnalyzed$1(QueryExecution.scala:110)\n\t\tat scala.util.Try$.apply(Try.scala:217)\n\t\tat org.apache.spark.util.Utils$.doTryWithCallerStacktrace(Utils.scala:1378)\n\t\tat org.apache.spark.util.LazyTry.tryT$lzycompute(LazyTry.scala:46)\n\t\tat org.apache.spark.util.LazyTry.tryT(LazyTry.scala:46)\n\t\t... 22 more\n", "stacktrace": [{"class": null, "method": "deco", "file": "/usr/local/lib/python3.12/dist-packages/pyspark/errors/exceptions/captured.py", "line": "282"}, {"class": null, "method": "get_return_value", "file": "/usr/local/lib/python3.12/dist-packages/py4j/protocol.py", "line": "327"}]}}

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column, variable, or function parameter with name `city_revenue` cannot be resolved. Did you mean one of the following? [`city`, `driverid`, `age`, `name`, `vechile`]. SQLSTATE: 42703;
'Project [driverid#0, name#1, age#2, city#3, vechile#4, classify_revenue('city_revenue)#761 AS revenue_grade#762]
+- LogicalRDD [driverid#0, name#1, age#2, city#3, vechile#4], false