<a href="https://colab.research.google.com/github/codingniket/Python-Training/blob/main/15-01-2026/Solution/Customer_Purchase_Behavior_%26_Loyalty_Analysis_using_PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PHASE 1 – Ingestion & Cleaning
Use the same cleaning logic as Case Study 1:
1. Read orders.csv as all StringType.
2. Trim text columns.
3. Normalize city, category, product.
4. Clean amount:
Remove commas
Convert to IntegerType
Handle invalid values safely.
5. Parse order_date into DateType → order_date_clean .
6. Remove duplicate order_id.
7. Keep only Completed orders.
From this point onward, the dataset is considered clean_orders_df.

In [74]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DateType
from pyspark.sql.functions import trim, col, when, to_date, sum as spark_sum, avg, desc, rank, lit, broadcast,coalesce, isnull,try_to_timestamp,regexp_extract,initcap, count,countDistinct, min as spark_min, max as spark_max
from pyspark.sql.window import Window

spark = SparkSession.builder.appName("Project1").getOrCreate()

In [2]:
df_raw = spark.read \
.option("header", "true") \
.option("inferSchema", "false") \
.csv("orders.csv")

df_raw.show()
df_raw.printSchema()
df_raw.count()
df_raw.describe()

+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+
|   order_id|customer_id|       city|   category|    product| amount|order_date|   status|
+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+
|ORD00000000|    C000000| hyderabad |   grocery |       Oil |invalid|01/01/2024|Cancelled|
|ORD00000001|    C000001|       Pune|    Grocery|      Sugar|  35430|2024-01-02|Completed|
|ORD00000002|    C000002|       Pune|Electronics|     Mobile|  65358|2024-01-03|Completed|
|ORD00000003|    C000003|  Bangalore|Electronics|     Laptop|   5558|2024-01-04|Completed|
|ORD00000004|    C000004|       Pune|       Home|AirPurifier|  33659|2024-01-05|Completed|
|ORD00000005|    C000005|      Delhi|    Fashion|      Jeans|   8521|2024-01-06|Completed|
|ORD00000006|    C000006|      Delhi|    Grocery|      Sugar|  42383|2024-01-07|Completed|
|ORD00000007|    C000007|       Pune|    Grocery|       Rice|  45362|2024-01-08|Completed|
|ORD00000008|    C000008|  Bangalore|    Fashion|      Jeans|  10563|2024-01-09|Completed|
|ORD00000009|    C000009|    Kolkata|Electronics|     Laptop|  63715|2024-01-10|Completed|
|ORD00000010|    C000010|  Bangalore|    Grocery|      Sugar|  66576|2024-01-11|Completed|
|ORD00000011|    C000011|    Kolkata|Electronics|     Tablet|  50318|12/01/2024|Completed|
|ORD00000012|    C000012|  Bangalore|    Grocery|      Sugar|  84768|2024-01-13|Completed|
|ORD00000013|    C000013|       Pune|    Fashion|     TShirt|  79121|2024/01/14|Completed|
|ORD00000014|    C000014|     Mumbai|Electronics|     Tablet|  79469|2024-01-15|Completed|
|ORD00000015|    C000015|       Pune|Electronics|     Mobile|  81018|2024-01-16|Completed|
|ORD00000016|    C000016|     Mumbai|       Home|      Mixer|  64225|2024-01-17|Completed|
|ORD00000017|    C000017| bangalore |    Grocery|        Oil|  69582|2024-01-18|Completed|
|ORD00000018|    C000018|    Kolkata|    Fashion|      Jeans|  50424|2024-01-19|Completed|
|ORD00000019|    C000019|     Mumbai|Electronics|     Mobile|invalid|2024-01-20|Completed|
+-----------+-----------+-----------+-----------+-----------+-------+----------+---------+
only showing top 20 rows
root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- city: string (nullable = true)
 |-- category: string (nullable = true)
 |-- product: string (nullable = true)
 |-- amount: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- status: string (nullable = true)

DataFrame[summary: string, order_id: string, customer_id: string, city: string, category: string, product: string, amount: string, order_date: string, status: string]

In [3]:
cols_to_clean = ["city", "category", "product", "amount","status"]
df_cleaned_str = df_raw
for col_name in cols_to_clean:
  df_cleaned_str = df_cleaned_str.withColumn(col_name, initcap(trim(col(col_name))))

In [4]:
df_cleaned_str.show()
print(df_cleaned_str.count())

+-----------+-----------+---------+-----------+-----------+-------+----------+---------+
|   order_id|customer_id|     city|   category|    product| amount|order_date|   status|
+-----------+-----------+---------+-----------+-----------+-------+----------+---------+
|ORD00000000|    C000000|Hyderabad|    Grocery|        Oil|Invalid|01/01/2024|Cancelled|
|ORD00000001|    C000001|     Pune|    Grocery|      Sugar|  35430|2024-01-02|Completed|
|ORD00000002|    C000002|     Pune|Electronics|     Mobile|  65358|2024-01-03|Completed|
|ORD00000003|    C000003|Bangalore|Electronics|     Laptop|   5558|2024-01-04|Completed|
|ORD00000004|    C000004|     Pune|       Home|Airpurifier|  33659|2024-01-05|Completed|
|ORD00000005|    C000005|    Delhi|    Fashion|      Jeans|   8521|2024-01-06|Completed|
|ORD00000006|    C000006|    Delhi|    Grocery|      Sugar|  42383|2024-01-07|Completed|
|ORD00000007|    C000007|     Pune|    Grocery|       Rice|  45362|2024-01-08|Completed|
|ORD00000008|    C000008|Bangalore|    Fashion|      Jeans|  10563|2024-01-09|Completed|
|ORD00000009|    C000009|  Kolkata|Electronics|     Laptop|  63715|2024-01-10|Completed|
|ORD00000010|    C000010|Bangalore|    Grocery|      Sugar|  66576|2024-01-11|Completed|
|ORD00000011|    C000011|  Kolkata|Electronics|     Tablet|  50318|12/01/2024|Completed|
|ORD00000012|    C000012|Bangalore|    Grocery|      Sugar|  84768|2024-01-13|Completed|
|ORD00000013|    C000013|     Pune|    Fashion|     Tshirt|  79121|2024/01/14|Completed|
|ORD00000014|    C000014|   Mumbai|Electronics|     Tablet|  79469|2024-01-15|Completed|
|ORD00000015|    C000015|     Pune|Electronics|     Mobile|  81018|2024-01-16|Completed|
|ORD00000016|    C000016|   Mumbai|       Home|      Mixer|  64225|2024-01-17|Completed|
|ORD00000017|    C000017|Bangalore|    Grocery|        Oil|  69582|2024-01-18|Completed|
|ORD00000018|    C000018|  Kolkata|    Fashion|      Jeans|  50424|2024-01-19|Completed|
|ORD00000019|    C000019|   Mumbai|Electronics|     Mobile|Invalid|2024-01-20|Completed|
+-----------+-----------+---------+-----------+-----------+-------+----------+---------+
only showing top 20 rows
300000

In [5]:
numeric_price_str = regexp_extract(col("amount"), r"(\d+)", 0)
df_error_free = df_cleaned_str.withColumn("amount",when((numeric_price_str == "") | numeric_price_str.isNull(), lit(0))
.otherwise(numeric_price_str.cast('int')))\
.withColumn(
    "order_date",
    coalesce(
        to_date(try_to_timestamp(col("order_date"), lit("yyyy-MM-dd"))),
        to_date(try_to_timestamp(col("order_date"), lit("dd/MM/yyyy"))),
        to_date(try_to_timestamp(col("order_date"), lit("yyyy/MM/dd")))
    )
)

df_error_free.show()
df_error_free.printSchema()

+-----------+-----------+---------+-----------+-----------+------+----------+---------+
|   order_id|customer_id|     city|   category|    product|amount|order_date|   status|
+-----------+-----------+---------+-----------+-----------+------+----------+---------+
|ORD00000000|    C000000|Hyderabad|    Grocery|        Oil|     0|2024-01-01|Cancelled|
|ORD00000001|    C000001|     Pune|    Grocery|      Sugar| 35430|2024-01-02|Completed|
|ORD00000002|    C000002|     Pune|Electronics|     Mobile| 65358|2024-01-03|Completed|
|ORD00000003|    C000003|Bangalore|Electronics|     Laptop|  5558|2024-01-04|Completed|
|ORD00000004|    C000004|     Pune|       Home|Airpurifier| 33659|2024-01-05|Completed|
|ORD00000005|    C000005|    Delhi|    Fashion|      Jeans|  8521|2024-01-06|Completed|
|ORD00000006|    C000006|    Delhi|    Grocery|      Sugar| 42383|2024-01-07|Completed|
|ORD00000007|    C000007|     Pune|    Grocery|       Rice| 45362|2024-01-08|Completed|
|ORD00000008|    C000008|Bangalore|    Fashion|      Jeans| 10563|2024-01-09|Completed|
|ORD00000009|    C000009|  Kolkata|Electronics|     Laptop| 63715|2024-01-10|Completed|
|ORD00000010|    C000010|Bangalore|    Grocery|      Sugar| 66576|2024-01-11|Completed|
|ORD00000011|    C000011|  Kolkata|Electronics|     Tablet| 50318|2024-01-12|Completed|
|ORD00000012|    C000012|Bangalore|    Grocery|      Sugar| 84768|2024-01-13|Completed|
|ORD00000013|    C000013|     Pune|    Fashion|     Tshirt| 79121|2024-01-14|Completed|
|ORD00000014|    C000014|   Mumbai|Electronics|     Tablet| 79469|2024-01-15|Completed|
|ORD00000015|    C000015|     Pune|Electronics|     Mobile| 81018|2024-01-16|Completed|
|ORD00000016|    C000016|   Mumbai|       Home|      Mixer| 64225|2024-01-17|Completed|
|ORD00000017|    C000017|Bangalore|    Grocery|        Oil| 69582|2024-01-18|Completed|
|ORD00000018|    C000018|  Kolkata|    Fashion|      Jeans| 50424|2024-01-19|Completed|
|ORD00000019|    C000019|   Mumbai|Electronics|     Mobile|     0|2024-01-20|Completed|
+-----------+-----------+---------+-----------+-----------+------+----------+---------+
only showing top 20 rows
root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- city: string (nullable = true)
 |-- category: string (nullable = true)
 |-- product: string (nullable = true)
 |-- amount: integer (nullable = true)
 |-- order_date: date (nullable = true)
 |-- status: string (nullable = true)

In [6]:
print(f"Count before cleaning: {df_error_free.count()}")

df_valid = df_error_free.dropna(subset=["amount", "order_date"])

print(f"Count after cleaning: {df_valid.count()}")

Count before cleaning: 300000
Count after cleaning: 297405

In [7]:
df_clean = df_valid.dropDuplicates(["order_id"])

print(f"Count after dropping duplicates: {df_clean.count()}")

Count after dropping duplicates: 297405

In [8]:
clean_orders_df = df_clean.filter(col("status") == "Completed")

print(f"Count after filtering: {clean_orders_df.count()}")

Count after filtering: 282535

PHASE 2 – Customer Metrics
Compute the following for each customer:
1. Total number of orders.
2. Total spending.
3. Average order value.
4. First purchase date.
5. Last purchase date.
6. Number of distinct cities ordered from.
7. Number of distinct categories ordered from.
These define the customer profile.

In [16]:
customer_per_order = clean_orders_df.groupBy("customer_id").agg(count("order_id").alias("Total Order"))
customer_per_order.show()

+-----------+-----------+
|customer_id|Total Order|
+-----------+-----------+
|    C000142|          6|
|    C000299|          6|
|    C000433|          6|
|    C001115|          6|
|    C001875|          6|
|    C002484|          5|
|    C002512|          6|
|    C002837|          6|
|    C003194|          6|
|    C003484|          6|
|    C004744|          6|
|    C004804|          6|
|    C005119|          6|
|    C005781|          6|
|    C006654|          6|
|    C007013|          6|
|    C008123|          6|
|    C008343|          6|
|    C008471|          6|
|    C009248|          6|
+-----------+-----------+
only showing top 20 rows

In [17]:
total_spending = clean_orders_df.groupBy("customer_id").agg(spark_sum("amount").alias("Total Spending"))
total_spending.show()

+-----------+--------------+
|customer_id|Total Spending|
+-----------+--------------+
|    C000142|        301300|
|    C000299|        216273|
|    C000433|        285507|
|    C001115|        163614|
|    C001875|        213381|
|    C002484|        106303|
|    C002512|        336838|
|    C002837|        213260|
|    C003194|        227384|
|    C003484|        300712|
|    C004744|        170512|
|    C004804|        170880|
|    C005119|        197410|
|    C005781|        197168|
|    C006654|        130659|
|    C007013|        241427|
|    C008123|        220137|
|    C008343|        230184|
|    C008471|        214694|
|    C009248|        203246|
+-----------+--------------+
only showing top 20 rows

In [18]:
avg_order_value = clean_orders_df.groupBy("customer_id").agg(avg("amount").alias("Avg Order Spending"))
avg_order_value.show()

+-----------+------------------+
|customer_id|Avg Order Spending|
+-----------+------------------+
|    C000142|50216.666666666664|
|    C000299|           36045.5|
|    C000433|           47584.5|
|    C001115|           27269.0|
|    C001875|           35563.5|
|    C002484|           21260.6|
|    C002512|56139.666666666664|
|    C002837|35543.333333333336|
|    C003194|37897.333333333336|
|    C003484|50118.666666666664|
|    C004744|28418.666666666668|
|    C004804|           28480.0|
|    C005119|32901.666666666664|
|    C005781|32861.333333333336|
|    C006654|           21776.5|
|    C007013|40237.833333333336|
|    C008123|           36689.5|
|    C008343|           38364.0|
|    C008471|35782.333333333336|
|    C009248|33874.333333333336|
+-----------+------------------+
only showing top 20 rows

In [45]:
first_purchase_date = clean_orders_df.groupBy("customer_id").agg(spark_min(col("order_date")).alias("First_Purchase_Date"))
first_purchase_date.show()

+-----------+-------------------+
|customer_id|First_Purchase_Date|
+-----------+-------------------+
|    C000142|         2024-01-03|
|    C000299|         2024-01-20|
|    C000433|         2024-01-14|
|    C001115|         2024-01-16|
|    C001875|         2024-01-16|
|    C002484|         2024-01-05|
|    C002512|         2024-01-13|
|    C002837|         2024-01-18|
|    C003194|         2024-01-15|
|    C003484|         2024-01-05|
|    C004744|         2024-01-05|
|    C004804|         2024-01-05|
|    C005119|         2024-01-20|
|    C005781|         2024-01-02|
|    C006654|         2024-01-15|
|    C007013|         2024-01-14|
|    C008123|         2024-01-04|
|    C008343|         2024-01-04|
|    C008471|         2024-01-12|
|    C009248|         2024-01-09|
+-----------+-------------------+
only showing top 20 rows

In [46]:
last_purchase_date = clean_orders_df.groupBy("customer_id").agg(spark_max(col("order_date")).alias("Last_Purchase_Date"))
last_purchase_date.show()

+-----------+------------------+
|customer_id|Last_Purchase_Date|
+-----------+------------------+
|    C000142|        2024-02-12|
|    C000299|        2024-02-29|
|    C000433|        2024-02-23|
|    C001115|        2024-02-25|
|    C001875|        2024-02-25|
|    C002484|        2024-02-14|
|    C002512|        2024-02-22|
|    C002837|        2024-02-27|
|    C003194|        2024-02-24|
|    C003484|        2024-02-14|
|    C004744|        2024-02-14|
|    C004804|        2024-02-14|
|    C005119|        2024-02-29|
|    C005781|        2024-02-11|
|    C006654|        2024-02-24|
|    C007013|        2024-02-23|
|    C008123|        2024-02-13|
|    C008343|        2024-02-13|
|    C008471|        2024-02-21|
|    C009248|        2024-02-18|
+-----------+------------------+
only showing top 20 rows

In [29]:
distinct_cities = clean_orders_df.groupBy("customer_id").agg(countDistinct("city").alias("Distinct_Cities"))
distinct_cities.show()

+-----------+---------------+
|customer_id|Distinct_Cities|
+-----------+---------------+
|    C001875|              5|
|    C030046|              5|
|    C042719|              4|
|    C026844|              4|
|    C021938|              4|
|    C001019|              4|
|    C037904|              4|
|    C046477|              5|
|    C003053|              5|
|    C013125|              4|
|    C008538|              4|
|    C041743|              4|
|    C012569|              5|
|    C002837|              5|
|    C027384|              4|
|    C002646|              5|
|    C042151|              5|
|    C046807|              4|
|    C006517|              4|
|    C027419|              5|
+-----------+---------------+
only showing top 20 rows

In [30]:
distinct_categories = clean_orders_df.groupBy("customer_id").agg(countDistinct("category").alias("Distinct_Categories"))
distinct_categories.show()

+-----------+-------------------+
|customer_id|Distinct_Categories|
+-----------+-------------------+
|    C022166|                  4|
|    C014126|                  3|
|    C019758|                  4|
|    C008343|                  4|
|    C032026|                  3|
|    C001875|                  3|
|    C018567|                  2|
|    C005781|                  4|
|    C017258|                  4|
|    C017645|                  4|
|    C040925|                  2|
|    C008471|                  4|
|    C048710|                  3|
|    C036742|                  3|
|    C012244|                  3|
|    C030565|                  4|
|    C030828|                  3|
|    C014566|                  3|
|    C038722|                  4|
|    C040253|                  4|
+-----------+-------------------+
only showing top 20 rows

PHASE 3 – Customer Segmentation
Create customer segments using business logic:

Total Spend >= 200000 AND Orders >= 5 → "VIP"
Total Spend >= 100000 → "Premium"
Else → "Regular"

Add a column:

customer_segment

Count customers in each segment.

In [47]:
all_customer_metrics = customer_per_order \
    .join(total_spending, "customer_id") \
    .join(avg_order_value, "customer_id") \
    .join(first_purchase_date, "customer_id") \
    .join(last_purchase_date, "customer_id") \
    .join(distinct_cities, "customer_id") \
    .join(distinct_categories, "customer_id")

all_customer_metrics.show()

+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+
|customer_id|Total Order|Total Spending|Avg Order Spending|First_Purchase_Date|Last_Purchase_Date|Distinct_Cities|Distinct_Categories|
+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+
|    C000142|          6|        301300|50216.666666666664|         2024-01-03|        2024-02-12|              4|                  4|
|    C000299|          6|        216273|           36045.5|         2024-01-20|        2024-02-29|              4|                  4|
|    C000433|          6|        285507|           47584.5|         2024-01-14|        2024-02-23|              4|                  3|
|    C001115|          6|        163614|           27269.0|         2024-01-16|        2024-02-25|              6|                  4|
|    C001875|          6|        213381|           35563.5|         2024-01-16|        2024-02-25|              5|                  3|
|    C002484|          5|        106303|           21260.6|         2024-01-05|        2024-02-14|              5|                  4|
|    C002512|          6|        336838|56139.666666666664|         2024-01-13|        2024-02-22|              3|                  4|
|    C002837|          6|        213260|35543.333333333336|         2024-01-18|        2024-02-27|              5|                  3|
|    C003194|          6|        227384|37897.333333333336|         2024-01-15|        2024-02-24|              4|                  3|
|    C003484|          6|        300712|50118.666666666664|         2024-01-05|        2024-02-14|              5|                  3|
|    C004744|          6|        170512|28418.666666666668|         2024-01-05|        2024-02-14|              3|                  2|
|    C004804|          6|        170880|           28480.0|         2024-01-05|        2024-02-14|              3|                  4|
|    C005119|          6|        197410|32901.666666666664|         2024-01-20|        2024-02-29|              5|                  4|
|    C005781|          6|        197168|32861.333333333336|         2024-01-02|        2024-02-11|              5|                  4|
|    C006654|          6|        130659|           21776.5|         2024-01-15|        2024-02-24|              4|                  3|
|    C007013|          6|        241427|40237.833333333336|         2024-01-14|        2024-02-23|              2|                  2|
|    C008123|          6|        220137|           36689.5|         2024-01-04|        2024-02-13|              3|                  4|
|    C008343|          6|        230184|           38364.0|         2024-01-04|        2024-02-13|              5|                  4|
|    C008471|          6|        214694|35782.333333333336|         2024-01-12|        2024-02-21|              4|                  4|
|    C009248|          6|        203246|33874.333333333336|         2024-01-09|        2024-02-18|              4|                  4|
+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+
only showing top 20 rows

In [48]:
segmented_df = all_customer_metrics.withColumn("customer_segment", when((col("Total Spending") >= 200000) & (col("Total Order") >= 5), "VIP")
                                                   .when((col("Total Spending") >= 100000), "Premium")
                                                   .otherwise("Regular"))

segmented_df.show()

+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+
|customer_id|Total Order|Total Spending|Avg Order Spending|First_Purchase_Date|Last_Purchase_Date|Distinct_Cities|Distinct_Categories|customer_segment|
+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+
|    C000142|          6|        301300|50216.666666666664|         2024-01-03|        2024-02-12|              4|                  4|             VIP|
|    C000299|          6|        216273|           36045.5|         2024-01-20|        2024-02-29|              4|                  4|             VIP|
|    C000433|          6|        285507|           47584.5|         2024-01-14|        2024-02-23|              4|                  3|             VIP|
|    C001115|          6|        163614|           27269.0|         2024-01-16|        2024-02-25|              6|                  4|         Premium|
|    C001875|          6|        213381|           35563.5|         2024-01-16|        2024-02-25|              5|                  3|             VIP|
|    C002484|          5|        106303|           21260.6|         2024-01-05|        2024-02-14|              5|                  4|         Premium|
|    C002512|          6|        336838|56139.666666666664|         2024-01-13|        2024-02-22|              3|                  4|             VIP|
|    C002837|          6|        213260|35543.333333333336|         2024-01-18|        2024-02-27|              5|                  3|             VIP|
|    C003194|          6|        227384|37897.333333333336|         2024-01-15|        2024-02-24|              4|                  3|             VIP|
|    C003484|          6|        300712|50118.666666666664|         2024-01-05|        2024-02-14|              5|                  3|             VIP|
|    C004744|          6|        170512|28418.666666666668|         2024-01-05|        2024-02-14|              3|                  2|         Premium|
|    C004804|          6|        170880|           28480.0|         2024-01-05|        2024-02-14|              3|                  4|         Premium|
|    C005119|          6|        197410|32901.666666666664|         2024-01-20|        2024-02-29|              5|                  4|         Premium|
|    C005781|          6|        197168|32861.333333333336|         2024-01-02|        2024-02-11|              5|                  4|         Premium|
|    C006654|          6|        130659|           21776.5|         2024-01-15|        2024-02-24|              4|                  3|         Premium|
|    C007013|          6|        241427|40237.833333333336|         2024-01-14|        2024-02-23|              2|                  2|             VIP|
|    C008123|          6|        220137|           36689.5|         2024-01-04|        2024-02-13|              3|                  4|             VIP|
|    C008343|          6|        230184|           38364.0|         2024-01-04|        2024-02-13|              5|                  4|             VIP|
|    C008471|          6|        214694|35782.333333333336|         2024-01-12|        2024-02-21|              4|                  4|             VIP|
|    C009248|          6|        203246|33874.333333333336|         2024-01-09|        2024-02-18|              4|                  4|             VIP|
+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+
only showing top 20 rows

PHASE 4 – Window Functions
Using Window functions:
1. Rank customers by total spending (overall).
2. Rank customers inside each city by total spending.
3. Identify top 3 customers per city.
4. Identify top 10 customers across all cities.
This phase must use:

Window.partitionBy()

In [49]:
customer_window = Window.orderBy(col("Total Spending").desc())
df_customer_rank = segmented_df.withColumn("rank", rank().over(customer_window))
df_customer_rank.show()

+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+----+
|customer_id|Total Order|Total Spending|Avg Order Spending|First_Purchase_Date|Last_Purchase_Date|Distinct_Cities|Distinct_Categories|customer_segment|rank|
+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+----+
|    C043076|          6|        493949| 82324.83333333333|         2024-01-17|        2024-02-26|              5|                  4|             VIP|   1|
|    C034689|          6|        486879|           81146.5|         2024-01-10|        2024-02-19|              4|                  3|             VIP|   2|
|    C039985|          6|        484057| 80676.16666666667|         2024-01-06|        2024-02-15|              3|                  4|             VIP|   3|
|    C026691|          6|        477147|           79524.5|         2024-01-12|        2024-02-21|              4|                  3|             VIP|   4|
|    C038979|          6|        477138|           79523.0|         2024-01-20|        2024-02-29|              5|                  4|             VIP|   5|
|    C020762|          6|        474717|           79119.5|         2024-01-03|        2024-02-12|              5|                  3|             VIP|   6|
|    C044654|          6|        471304| 78550.66666666667|         2024-01-15|        2024-02-24|              5|                  2|             VIP|   7|
|    C014292|          6|        468617| 78102.83333333333|         2024-01-13|        2024-02-22|              5|                  3|             VIP|   8|
|    C019565|          6|        467523|           77920.5|         2024-01-06|        2024-02-15|              3|                  3|             VIP|   9|
|    C045487|          6|        467050| 77841.66666666667|         2024-01-08|        2024-02-17|              4|                  3|             VIP|  10|
|    C046747|          6|        464951| 77491.83333333333|         2024-01-08|        2024-02-17|              4|                  3|             VIP|  11|
|    C004490|          6|        463923|           77320.5|         2024-01-11|        2024-02-20|              5|                  4|             VIP|  12|
|    C038296|          6|        463147| 77191.16666666667|         2024-01-17|        2024-02-26|              4|                  4|             VIP|  13|
|    C005286|          6|        463098|           77183.0|         2024-01-07|        2024-02-16|              5|                  4|             VIP|  14|
|    C022754|          6|        462987|           77164.5|         2024-01-15|        2024-02-24|              3|                  4|             VIP|  15|
|    C047145|          6|        458602| 76433.66666666667|         2024-01-06|        2024-02-15|              5|                  4|             VIP|  16|
|    C026261|          6|        458067|           76344.5|         2024-01-02|        2024-02-11|              3|                  2|             VIP|  17|
|    C029753|          6|        457258| 76209.66666666667|         2024-01-14|        2024-02-23|              4|                  4|             VIP|  18|
|    C037602|          6|        456932| 76155.33333333333|         2024-01-03|        2024-02-12|              5|                  3|             VIP|  19|
|    C017673|          6|        454569|           75761.5|         2024-01-14|        2024-02-23|              4|                  3|             VIP|  20|
+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+----+
only showing top 20 rows

In [50]:
total_data = segmented_df.join(clean_orders_df, "customer_id")
total_data.show()

+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+-----------+---------+-----------+-------+------+----------+---------+
|customer_id|Total Order|Total Spending|Avg Order Spending|First_Purchase_Date|Last_Purchase_Date|Distinct_Cities|Distinct_Categories|customer_segment|   order_id|     city|   category|product|amount|order_date|   status|
+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+-----------+---------+-----------+-------+------+----------+---------+
|    C000002|          6|        143436|           23906.0|         2024-01-03|        2024-02-12|              4|                  4|         Premium|ORD00150002|     Pune|    Grocery|   Rice| 16360|2024-01-03|Completed|
|    C000002|          6|        143436|           23906.0|         2024-01-03|        2024-02-12|              4|                  4|         Premium|ORD00250002|Bangalore|Electronics| Mobile|     0|2024-02-12|Completed|
|    C000002|          6|        143436|           23906.0|         2024-01-03|        2024-02-12|              4|                  4|         Premium|ORD00000002|     Pune|Electronics| Mobile| 65358|2024-01-03|Completed|
|    C000002|          6|        143436|           23906.0|         2024-01-03|        2024-02-12|              4|                  4|         Premium|ORD00050002|  Kolkata|    Fashion| Tshirt|    12|2024-01-23|Completed|
|    C000002|          6|        143436|           23906.0|         2024-01-03|        2024-02-12|              4|                  4|         Premium|ORD00100002|Hyderabad|Electronics| Laptop| 21340|2024-02-12|Completed|
|    C000002|          6|        143436|           23906.0|         2024-01-03|        2024-02-12|              4|                  4|         Premium|ORD00200002|Bangalore|       Home|  Mixer| 40366|2024-01-23|Completed|
|    C000009|          6|        157525|26254.166666666668|         2024-01-10|        2024-02-19|              3|                  2|         Premium|ORD00150009|Bangalore|Electronics| Tablet| 69332|2024-01-10|Completed|
|    C000009|          6|        157525|26254.166666666668|         2024-01-10|        2024-02-19|              3|                  2|         Premium|ORD00000009|  Kolkata|Electronics| Laptop| 63715|2024-01-10|Completed|
|    C000009|          6|        157525|26254.166666666668|         2024-01-10|        2024-02-19|              3|                  2|         Premium|ORD00050009|Bangalore|    Fashion| Tshirt|  7164|2024-01-30|Completed|
|    C000009|          6|        157525|26254.166666666668|         2024-01-10|        2024-02-19|              3|                  2|         Premium|ORD00100009|    Delhi|    Fashion|  Shoes| 16425|2024-02-19|Completed|
|    C000009|          6|        157525|26254.166666666668|         2024-01-10|        2024-02-19|              3|                  2|         Premium|ORD00200009|  Kolkata|    Fashion|  Shoes|   889|2024-01-30|Completed|
|    C000009|          6|        157525|26254.166666666668|         2024-01-10|        2024-02-19|              3|                  2|         Premium|ORD00250009|Bangalore|    Fashion|  Jeans|     0|2024-02-19|Completed|
|    C000013|          6|        327981|           54663.5|         2024-01-14|        2024-02-23|              5|                  3|             VIP|ORD00100013|  Kolkata|    Grocery|  Sugar| 88657|2024-02-23|Completed|
|    C000013|          6|        327981|           54663.5|         2024-01-14|        2024-02-23|              5|                  3|             VIP|ORD00200013|  Kolkata|Electronics| Laptop|     0|2024-02-03|Completed|
|    C000013|          6|        327981|           54663.5|         2024-01-14|        2024-02-23|              5|                  3|             VIP|ORD00000013|     Pune|    Fashion| Tshirt| 79121|2024-01-14|Completed|
|    C000013|          6|        327981|           54663.5|         2024-01-14|        2024-02-23|              5|                  3|             VIP|ORD00050013|Hyderabad|    Grocery|   Rice| 85285|2024-02-03|Completed|
|    C000013|          6|        327981|           54663.5|         2024-01-14|        2024-02-23|              5|                  3|             VIP|ORD00150013|   Mumbai|Electronics| Mobile| 23688|2024-01-14|Completed|
|    C000013|          6|        327981|           54663.5|         2024-01-14|        2024-02-23|              5|                  3|             VIP|ORD00250013|Bangalore|    Grocery|    Oil| 51230|2024-02-23|Completed|
|    C000023|          6|        184807|30801.166666666668|         2024-01-04|        2024-02-13|              5|                  2|         Premium|ORD00000023|Hyderabad|Electronics| Mobile|    12|2024-01-24|Completed|
|    C000023|          6|        184807|30801.166666666668|         2024-01-04|        2024-02-13|              5|                  2|         Premium|ORD00050023|    Delhi|    Grocery|    Oil|  6187|2024-02-13|Completed|
+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+-----------+---------+-----------+-------+------+----------+---------+
only showing top 20 rows

In [51]:
df_customer_city_rank = total_data.withColumn("rank", rank().over(customer_window))
df_customer_city_rank.show()

+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+-----------+---------+-----------+-----------+------+----------+---------+----+
|customer_id|Total Order|Total Spending|Avg Order Spending|First_Purchase_Date|Last_Purchase_Date|Distinct_Cities|Distinct_Categories|customer_segment|   order_id|     city|   category|    product|amount|order_date|   status|rank|
+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+-----------+---------+-----------+-----------+------+----------+---------+----+
|    C043076|          6|        493949| 82324.83333333333|         2024-01-17|        2024-02-26|              5|                  4|             VIP|ORD00143076|Bangalore|       Home|     Vacuum| 87330|2024-02-06|Completed|   1|
|    C043076|          6|        493949| 82324.83333333333|         2024-01-17|        2024-02-26|              5|                  4|             VIP|ORD00293076|Hyderabad|    Grocery|      Sugar| 73381|2024-02-06|Completed|   1|
|    C043076|          6|        493949| 82324.83333333333|         2024-01-17|        2024-02-26|              5|                  4|             VIP|ORD00043076|   Mumbai|    Fashion|      Shoes| 86791|2024-02-26|Completed|   1|
|    C043076|          6|        493949| 82324.83333333333|         2024-01-17|        2024-02-26|              5|                  4|             VIP|ORD00093076|Hyderabad|    Grocery|       Rice| 89629|2024-01-17|Completed|   1|
|    C043076|          6|        493949| 82324.83333333333|         2024-01-17|        2024-02-26|              5|                  4|             VIP|ORD00193076|  Chennai|Electronics|     Laptop| 85835|2024-02-26|Completed|   1|
|    C043076|          6|        493949| 82324.83333333333|         2024-01-17|        2024-02-26|              5|                  4|             VIP|ORD00243076|  Kolkata|    Fashion|     Tshirt| 70983|2024-01-17|Completed|   1|
|    C034689|          6|        486879|           81146.5|         2024-01-10|        2024-02-19|              4|                  3|             VIP|ORD00134689|Bangalore|    Fashion|      Shoes| 61826|2024-02-19|Completed|   7|
|    C034689|          6|        486879|           81146.5|         2024-01-10|        2024-02-19|              4|                  3|             VIP|ORD00084689|     Pune|Electronics|     Tablet| 88673|2024-01-30|Completed|   7|
|    C034689|          6|        486879|           81146.5|         2024-01-10|        2024-02-19|              4|                  3|             VIP|ORD00184689|  Kolkata|    Fashion|      Shoes| 89276|2024-01-10|Completed|   7|
|    C034689|          6|        486879|           81146.5|         2024-01-10|        2024-02-19|              4|                  3|             VIP|ORD00034689|  Kolkata|Electronics|     Tablet| 75190|2024-01-10|Completed|   7|
|    C034689|          6|        486879|           81146.5|         2024-01-10|        2024-02-19|              4|                  3|             VIP|ORD00234689|     Pune|       Home|     Vacuum| 85623|2024-01-30|Completed|   7|
|    C034689|          6|        486879|           81146.5|         2024-01-10|        2024-02-19|              4|                  3|             VIP|ORD00284689|  Chennai|Electronics|     Laptop| 86291|2024-02-19|Completed|   7|
|    C039985|          6|        484057| 80676.16666666667|         2024-01-06|        2024-02-15|              3|                  4|             VIP|ORD00039985|  Kolkata|Electronics|     Mobile| 87326|2024-01-26|Completed|  13|
|    C039985|          6|        484057| 80676.16666666667|         2024-01-06|        2024-02-15|              3|                  4|             VIP|ORD00189985|    Delhi|    Fashion|     Tshirt| 82834|2024-01-26|Completed|  13|
|    C039985|          6|        484057| 80676.16666666667|         2024-01-06|        2024-02-15|              3|                  4|             VIP|ORD00289985|    Delhi|    Fashion|      Shoes| 81228|2024-01-06|Completed|  13|
|    C039985|          6|        484057| 80676.16666666667|         2024-01-06|        2024-02-15|              3|                  4|             VIP|ORD00089985|  Kolkata|    Grocery|      Sugar| 75828|2024-02-15|Completed|  13|
|    C039985|          6|        484057| 80676.16666666667|         2024-01-06|        2024-02-15|              3|                  4|             VIP|ORD00139985|Bangalore|       Home|Airpurifier| 80730|2024-01-06|Completed|  13|
|    C039985|          6|        484057| 80676.16666666667|         2024-01-06|        2024-02-15|              3|                  4|             VIP|ORD00239985|    Delhi|Electronics|     Tablet| 76111|2024-02-15|Completed|  13|
|    C026691|          6|        477147|           79524.5|         2024-01-12|        2024-02-21|              4|                  3|             VIP|ORD00276691|  Chennai|    Fashion|     Tshirt| 56041|2024-02-01|Completed|  19|
|    C026691|          6|        477147|           79524.5|         2024-01-12|        2024-02-21|              4|                  3|             VIP|ORD00176691|  Chennai|    Fashion|      Jeans| 86517|2024-02-21|Completed|  19|
+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+-----------+---------+-----------+-----------+------+----------+---------+----+
only showing top 20 rows

In [52]:
df_customer_city_rank.limit(3).show()

+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+-----------+---------+--------+-------+------+----------+---------+----+
|customer_id|Total Order|Total Spending|Avg Order Spending|First_Purchase_Date|Last_Purchase_Date|Distinct_Cities|Distinct_Categories|customer_segment|   order_id|     city|category|product|amount|order_date|   status|rank|
+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+-----------+---------+--------+-------+------+----------+---------+----+
|    C043076|          6|        493949| 82324.83333333333|         2024-01-17|        2024-02-26|              5|                  4|             VIP|ORD00143076|Bangalore|    Home| Vacuum| 87330|2024-02-06|Completed|   1|
|    C043076|          6|        493949| 82324.83333333333|         2024-01-17|        2024-02-26|              5|                  4|             VIP|ORD00043076|   Mumbai| Fashion|  Shoes| 86791|2024-02-26|Completed|   1|
|    C043076|          6|        493949| 82324.83333333333|         2024-01-17|        2024-02-26|              5|                  4|             VIP|ORD00293076|Hyderabad| Grocery|  Sugar| 73381|2024-02-06|Completed|   1|
+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+-----------+---------+--------+-------+------+----------+---------+----+

In [53]:
df_customer_city_rank.limit(10).show()

+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+-----------+---------+-----------+-------+------+----------+---------+----+
|customer_id|Total Order|Total Spending|Avg Order Spending|First_Purchase_Date|Last_Purchase_Date|Distinct_Cities|Distinct_Categories|customer_segment|   order_id|     city|   category|product|amount|order_date|   status|rank|
+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+-----------+---------+-----------+-------+------+----------+---------+----+
|    C043076|          6|        493949| 82324.83333333333|         2024-01-17|        2024-02-26|              5|                  4|             VIP|ORD00293076|Hyderabad|    Grocery|  Sugar| 73381|2024-02-06|Completed|   1|
|    C043076|          6|        493949| 82324.83333333333|         2024-01-17|        2024-02-26|              5|                  4|             VIP|ORD00143076|Bangalore|       Home| Vacuum| 87330|2024-02-06|Completed|   1|
|    C043076|          6|        493949| 82324.83333333333|         2024-01-17|        2024-02-26|              5|                  4|             VIP|ORD00043076|   Mumbai|    Fashion|  Shoes| 86791|2024-02-26|Completed|   1|
|    C043076|          6|        493949| 82324.83333333333|         2024-01-17|        2024-02-26|              5|                  4|             VIP|ORD00093076|Hyderabad|    Grocery|   Rice| 89629|2024-01-17|Completed|   1|
|    C043076|          6|        493949| 82324.83333333333|         2024-01-17|        2024-02-26|              5|                  4|             VIP|ORD00193076|  Chennai|Electronics| Laptop| 85835|2024-02-26|Completed|   1|
|    C043076|          6|        493949| 82324.83333333333|         2024-01-17|        2024-02-26|              5|                  4|             VIP|ORD00243076|  Kolkata|    Fashion| Tshirt| 70983|2024-01-17|Completed|   1|
|    C034689|          6|        486879|           81146.5|         2024-01-10|        2024-02-19|              4|                  3|             VIP|ORD00184689|  Kolkata|    Fashion|  Shoes| 89276|2024-01-10|Completed|   7|
|    C034689|          6|        486879|           81146.5|         2024-01-10|        2024-02-19|              4|                  3|             VIP|ORD00134689|Bangalore|    Fashion|  Shoes| 61826|2024-02-19|Completed|   7|
|    C034689|          6|        486879|           81146.5|         2024-01-10|        2024-02-19|              4|                  3|             VIP|ORD00234689|     Pune|       Home| Vacuum| 85623|2024-01-30|Completed|   7|
|    C034689|          6|        486879|           81146.5|         2024-01-10|        2024-02-19|              4|                  3|             VIP|ORD00034689|  Kolkata|Electronics| Tablet| 75190|2024-01-10|Completed|   7|
+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+-----------+---------+-----------+-------+------+----------+---------+----+

PHASE 5 – Customer Loyalty Analysis
Define loyalty:
A loyal customer is one who:
Has purchases on at least 3 different dates
Has ordered from at least 2 different categories
Tasks:
1. Identify loyal customers.
2. Count loyal customers per city.
3. Compare loyal vs non-loyal customer revenue contribution.

In [55]:
loyal_customer = total_data.withColumn("Type",when((col("Distinct_Categories") >= 2) & (col("First_Purchase_Date") != col("Last_Purchase_Date")), "Loyal").otherwise("Non-loyal"))
loyal_customer.show()

+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+-----------+---------+-----------+-------+------+----------+---------+-----+
|customer_id|Total Order|Total Spending|Avg Order Spending|First_Purchase_Date|Last_Purchase_Date|Distinct_Cities|Distinct_Categories|customer_segment|   order_id|     city|   category|product|amount|order_date|   status| Type|
+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+-----------+---------+-----------+-------+------+----------+---------+-----+
|    C000002|          6|        143436|           23906.0|         2024-01-03|        2024-02-12|              4|                  4|         Premium|ORD00150002|     Pune|    Grocery|   Rice| 16360|2024-01-03|Completed|Loyal|
|    C000002|          6|        143436|           23906.0|         2024-01-03|        2024-02-12|              4|                  4|         Premium|ORD00250002|Bangalore|Electronics| Mobile|     0|2024-02-12|Completed|Loyal|
|    C000002|          6|        143436|           23906.0|         2024-01-03|        2024-02-12|              4|                  4|         Premium|ORD00000002|     Pune|Electronics| Mobile| 65358|2024-01-03|Completed|Loyal|
|    C000002|          6|        143436|           23906.0|         2024-01-03|        2024-02-12|              4|                  4|         Premium|ORD00050002|  Kolkata|    Fashion| Tshirt|    12|2024-01-23|Completed|Loyal|
|    C000002|          6|        143436|           23906.0|         2024-01-03|        2024-02-12|              4|                  4|         Premium|ORD00100002|Hyderabad|Electronics| Laptop| 21340|2024-02-12|Completed|Loyal|
|    C000002|          6|        143436|           23906.0|         2024-01-03|        2024-02-12|              4|                  4|         Premium|ORD00200002|Bangalore|       Home|  Mixer| 40366|2024-01-23|Completed|Loyal|
|    C000009|          6|        157525|26254.166666666668|         2024-01-10|        2024-02-19|              3|                  2|         Premium|ORD00150009|Bangalore|Electronics| Tablet| 69332|2024-01-10|Completed|Loyal|
|    C000009|          6|        157525|26254.166666666668|         2024-01-10|        2024-02-19|              3|                  2|         Premium|ORD00000009|  Kolkata|Electronics| Laptop| 63715|2024-01-10|Completed|Loyal|
|    C000009|          6|        157525|26254.166666666668|         2024-01-10|        2024-02-19|              3|                  2|         Premium|ORD00050009|Bangalore|    Fashion| Tshirt|  7164|2024-01-30|Completed|Loyal|
|    C000009|          6|        157525|26254.166666666668|         2024-01-10|        2024-02-19|              3|                  2|         Premium|ORD00100009|    Delhi|    Fashion|  Shoes| 16425|2024-02-19|Completed|Loyal|
|    C000009|          6|        157525|26254.166666666668|         2024-01-10|        2024-02-19|              3|                  2|         Premium|ORD00200009|  Kolkata|    Fashion|  Shoes|   889|2024-01-30|Completed|Loyal|
|    C000009|          6|        157525|26254.166666666668|         2024-01-10|        2024-02-19|              3|                  2|         Premium|ORD00250009|Bangalore|    Fashion|  Jeans|     0|2024-02-19|Completed|Loyal|
|    C000013|          6|        327981|           54663.5|         2024-01-14|        2024-02-23|              5|                  3|             VIP|ORD00100013|  Kolkata|    Grocery|  Sugar| 88657|2024-02-23|Completed|Loyal|
|    C000013|          6|        327981|           54663.5|         2024-01-14|        2024-02-23|              5|                  3|             VIP|ORD00200013|  Kolkata|Electronics| Laptop|     0|2024-02-03|Completed|Loyal|
|    C000013|          6|        327981|           54663.5|         2024-01-14|        2024-02-23|              5|                  3|             VIP|ORD00000013|     Pune|    Fashion| Tshirt| 79121|2024-01-14|Completed|Loyal|
|    C000013|          6|        327981|           54663.5|         2024-01-14|        2024-02-23|              5|                  3|             VIP|ORD00050013|Hyderabad|    Grocery|   Rice| 85285|2024-02-03|Completed|Loyal|
|    C000013|          6|        327981|           54663.5|         2024-01-14|        2024-02-23|              5|                  3|             VIP|ORD00150013|   Mumbai|Electronics| Mobile| 23688|2024-01-14|Completed|Loyal|
|    C000013|          6|        327981|           54663.5|         2024-01-14|        2024-02-23|              5|                  3|             VIP|ORD00250013|Bangalore|    Grocery|    Oil| 51230|2024-02-23|Completed|Loyal|
|    C000023|          6|        184807|30801.166666666668|         2024-01-04|        2024-02-13|              5|                  2|         Premium|ORD00000023|Hyderabad|Electronics| Mobile|    12|2024-01-24|Completed|Loyal|
|    C000023|          6|        184807|30801.166666666668|         2024-01-04|        2024-02-13|              5|                  2|         Premium|ORD00050023|    Delhi|    Grocery|    Oil|  6187|2024-02-13|Completed|Loyal|
+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+-----------+---------+-----------+-------+------+----------+---------+-----+
only showing top 20 rows

In [60]:
city_wise = loyal_customer.groupBy("customer_id","Type").agg(count("city").alias("Different City of Purchase"))
city_wise.show()

+-----------+-----+--------------------------+
|customer_id| Type|Different City of Purchase|
+-----------+-----+--------------------------+
|    C000142|Loyal|                         6|
|    C000299|Loyal|                         6|
|    C000433|Loyal|                         6|
|    C001115|Loyal|                         6|
|    C001875|Loyal|                         6|
|    C002484|Loyal|                         5|
|    C002512|Loyal|                         6|
|    C002837|Loyal|                         6|
|    C003194|Loyal|                         6|
|    C003484|Loyal|                         6|
|    C004744|Loyal|                         6|
|    C004804|Loyal|                         6|
|    C005119|Loyal|                         6|
|    C005781|Loyal|                         6|
|    C006654|Loyal|                         6|
|    C007013|Loyal|                         6|
|    C008123|Loyal|                         6|
|    C008343|Loyal|                         6|
|    C008471|Loyal|                         6|
|    C009248|Loyal|                         6|
+-----------+-----+--------------------------+
only showing top 20 rows

In [62]:
type_wise = loyal_customer.groupBy("Type").agg(spark_sum("amount").alias("Revenue"))
type_wise.show()

+---------+-----------+
|     Type|    Revenue|
+---------+-----------+
|    Loyal|11180454642|
|Non-loyal|   15638036|
+---------+-----------+

PHASE 6 – Time-Based Analysis
Using order_date_clean:
1. Compute monthly revenue per city.
2. Compute monthly order count per category.
3. Identify growth or decline trends.
This introduces:

Date functions
Time-series thinking

In [66]:
from pyspark.sql.functions import month, date_format

new_df = clean_orders_df.withColumn("month_integer", month(col("order_date")))

new_df.show()

+-----------+-----------+---------+-----------+-----------+------+----------+---------+-------------+
|   order_id|customer_id|     city|   category|    product|amount|order_date|   status|month_integer|
+-----------+-----------+---------+-----------+-----------+------+----------+---------+-------------+
|ORD00000001|    C000001|     Pune|    Grocery|      Sugar| 35430|2024-01-02|Completed|            1|
|ORD00000007|    C000007|     Pune|    Grocery|       Rice| 45362|2024-01-08|Completed|            1|
|ORD00000008|    C000008|Bangalore|    Fashion|      Jeans| 10563|2024-01-09|Completed|            1|
|ORD00000010|    C000010|Bangalore|    Grocery|      Sugar| 66576|2024-01-11|Completed|            1|
|ORD00000011|    C000011|  Kolkata|Electronics|     Tablet| 50318|2024-01-12|Completed|            1|
|ORD00000012|    C000012|Bangalore|    Grocery|      Sugar| 84768|2024-01-13|Completed|            1|
|ORD00000014|    C000014|   Mumbai|Electronics|     Tablet| 79469|2024-01-15|Completed|            1|
|ORD00000015|    C000015|     Pune|Electronics|     Mobile| 81018|2024-01-16|Completed|            1|
|ORD00000017|    C000017|Bangalore|    Grocery|        Oil| 69582|2024-01-18|Completed|            1|
|ORD00000019|    C000019|   Mumbai|Electronics|     Mobile|     0|2024-01-20|Completed|            1|
|ORD00000022|    C000022|   Mumbai|    Grocery|      Sugar| 48832|2024-01-23|Completed|            1|
|ORD00000023|    C000023|Hyderabad|Electronics|     Mobile|    12|2024-01-24|Completed|            1|
|ORD00000024|    C000024|Bangalore|       Home|      Mixer| 18082|2024-01-25|Completed|            1|
|ORD00000025|    C000025|Bangalore|       Home|Airpurifier| 58248|2024-01-26|Completed|            1|
|ORD00000028|    C000028|   Mumbai|    Grocery|      Sugar| 70675|2024-01-29|Completed|            1|
|ORD00000030|    C000030|     Pune|       Home|Airpurifier| 52112|2024-01-31|Completed|            1|
|ORD00000031|    C000031|  Chennai|    Grocery|        Oil| 51151|2024-02-01|Completed|            2|
|ORD00000032|    C000032|  Chennai|       Home|     Vacuum| 75797|2024-02-02|Completed|            2|
|ORD00000034|    C000034|     Pune|    Grocery|      Sugar| 40915|2024-02-04|Completed|            2|
|ORD00000036|    C000036|  Kolkata|    Grocery|        Oil| 29253|2024-02-06|Completed|            2|
+-----------+-----------+---------+-----------+-----------+------+----------+---------+-------------+
only showing top 20 rows

In [69]:
monthly_revenue_city = new_df.groupBy("city", "month_integer").agg(spark_sum("amount").alias("monthly_revenue"))
monthly_revenue_city.show()

+---------+-------------+---------------+
|     city|month_integer|monthly_revenue|
+---------+-------------+---------------+
|   Mumbai|            1|      806518278|
|   Mumbai|            2|      786301679|
|    Delhi|            1|      807202773|
|Hyderabad|            2|      786254815|
|  Chennai|            2|      786495303|
|  Chennai|            1|      808473493|
|Bangalore|            2|      783004473|
|Hyderabad|            1|      823005673|
|  Kolkata|            2|      775433858|
|    Delhi|            2|      795483411|
|     Pune|            2|      787817529|
|  Kolkata|            1|      814526860|
|     Pune|            1|      823485156|
|Bangalore|            1|      812089377|
+---------+-------------+---------------+

In [71]:
monthly_order_count_category = new_df.groupBy("category", "month_integer").agg(count("order_id").alias("monthly_revenue"))
monthly_order_count_category.show()

+-----------+-------------+---------------+
|   category|month_integer|monthly_revenue|
+-----------+-------------+---------------+
|Electronics|            1|          35994|
|       Home|            1|          36163|
|Electronics|            2|          34766|
|    Fashion|            1|          35571|
|       Home|            2|          34631|
|    Grocery|            2|          34672|
|    Fashion|            2|          34720|
|    Grocery|            1|          36018|
+-----------+-------------+---------------+

PHASE 7 – Performance Engineering
1. Identify which DataFrames are reused.
2. Apply caching.
3. Use explain(True) on:
Customer aggregation
Window ranking
4. Identify shuffle stages.
5. Justify any repartitioning strategy.

 `clean_orders_df` and `segmented_df`

In [72]:
print("--- Phase 7: Explain Plan for Customer Aggregation ---")
total_data.explain(True)

print("--- Phase 7: Explain Plan for Window Ranking ---")
new_df.explain(True)

--- Phase 7: Explain Plan for Customer Aggregation ---
== Parsed Logical Plan ==
'Join UsingJoin(Inner, [customer_id])
:- Project [customer_id#18, Total Order#504L, Total Spending#569L, Avg Order Spending#646, First_Purchase_Date#6697, Last_Purchase_Date#6774, Distinct_Cities#960L, Distinct_Categories#1043L, CASE WHEN ((Total Spending#569L >= cast(200000 as bigint)) AND (Total Order#504L >= cast(5 as bigint))) THEN VIP WHEN (Total Spending#569L >= cast(100000 as bigint)) THEN Premium ELSE Regular END AS customer_segment#7501]
:  +- Project [customer_id#18, Total Order#504L, Total Spending#569L, Avg Order Spending#646, First_Purchase_Date#6697, Last_Purchase_Date#6774, Distinct_Cities#960L, Distinct_Categories#1043L]
:     +- Join Inner, (customer_id#18 = customer_id#6932)
:        :- Project [customer_id#18, Total Order#504L, Total Spending#569L, Avg Order Spending#646, First_Purchase_Date#6697, Last_Purchase_Date#6774, Distinct_Cities#960L]
:        :  +- Join Inner, (customer_id#18 = customer_id#6916)
:        :     :- Project [customer_id#18, Total Order#504L, Total Spending#569L, Avg Order Spending#646, First_Purchase_Date#6697, Last_Purchase_Date#6774]
:        :     :  +- Join Inner, (customer_id#18 = customer_id#6900)
:        :     :     :- Project [customer_id#18, Total Order#504L, Total Spending#569L, Avg Order Spending#646, First_Purchase_Date#6697]
:        :     :     :  +- Join Inner, (customer_id#18 = customer_id#6884)
:        :     :     :     :- Project [customer_id#18, Total Order#504L, Total Spending#569L, Avg Order Spending#646]
:        :     :     :     :  +- Join Inner, (customer_id#18 = customer_id#6868)
:        :     :     :     :     :- Project [customer_id#18, Total Order#504L, Total Spending#569L]
:        :     :     :     :     :  +- Join Inner, (customer_id#18 = customer_id#6852)
:        :     :     :     :     :     :- Aggregate [customer_id#18], [customer_id#18, count(order_id#17) AS Total Order#504L]
:        :     :     :     :     :     :  +- Filter (status#261 = Completed)
:        :     :     :     :     :     :     +- Deduplicate [order_id#17]
:        :     :     :     :     :     :        +- Filter atleastnnonnulls(2, amount#307, order_date#308)
:        :     :     :     :     :     :           +- Project [order_id#17, customer_id#18, city#257, category#258, product#259, amount#307, coalesce(to_date(try_to_timestamp(order_date#23, Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true), to_date(try_to_timestamp(order_date#23, Some(dd/MM/yyyy), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true), to_date(try_to_timestamp(order_date#23, Some(yyyy/MM/dd), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true)) AS order_date#308, status#261]
:        :     :     :     :     :     :              +- Project [order_id#17, customer_id#18, city#257, category#258, product#259, CASE WHEN ((regexp_extract(amount#260, (\d+), 0) = ) OR isnull(regexp_extract(amount#260, (\d+), 0))) THEN 0 ELSE cast(regexp_extract(amount#260, (\d+), 0) as int) END AS amount#307, order_date#23, status#261]
:        :     :     :     :     :     :                 +- Project [order_id#17, customer_id#18, city#257, category#258, product#259, amount#260, order_date#23, initcap(trim(status#24, None)) AS status#261]
:        :     :     :     :     :     :                    +- Project [order_id#17, customer_id#18, city#257, category#258, product#259, initcap(trim(amount#22, None)) AS amount#260, order_date#23, status#24]
:        :     :     :     :     :     :                       +- Project [order_id#17, customer_id#18, city#257, category#258, initcap(trim(product#21, None)) AS product#259, amount#22, order_date#23, status#24]
:        :     :     :     :     :     :                          +- Project [order_id#17, customer_id#18, city#257, initcap(trim(category#20, None)) AS category#258, product#21, amount#22, order_date#23, status#24]
:        :     :     :     :     :     :                             +- Project [order_id#17, customer_id#18, initcap(trim(city#19, None)) AS city#257, category#20, product#21, amount#22, order_date#23, status#24]
:        :     :     :     :     :     :                                +- Relation [order_id#17,customer_id#18,city#19,category#20,product#21,amount#22,order_date#23,status#24] csv
:        :     :     :     :     :     +- Aggregate [customer_id#6852], [customer_id#6852, sum(amount#6864) AS Total Spending#569L]
:        :     :     :     :     :        +- Filter (status#6863 = Completed)
:        :     :     :     :     :           +- Deduplicate [order_id#6851]
:        :     :     :     :     :              +- Filter atleastnnonnulls(2, amount#6864, order_date#6865)
:        :     :     :     :     :                 +- Project [order_id#6851, customer_id#6852, city#6859, category#6860, product#6861, amount#6864, coalesce(to_date(try_to_timestamp(order_date#6857, Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true), to_date(try_to_timestamp(order_date#6857, Some(dd/MM/yyyy), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true), to_date(try_to_timestamp(order_date#6857, Some(yyyy/MM/dd), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true)) AS order_date#6865, status#6863]
:        :     :     :     :     :                    +- Project [order_id#6851, customer_id#6852, city#6859, category#6860, product#6861, CASE WHEN ((regexp_extract(amount#6862, (\d+), 0) = ) OR isnull(regexp_extract(amount#6862, (\d+), 0))) THEN 0 ELSE cast(regexp_extract(amount#6862, (\d+), 0) as int) END AS amount#6864, order_date#6857, status#6863]
:        :     :     :     :     :                       +- Project [order_id#6851, customer_id#6852, city#6859, category#6860, product#6861, amount#6862, order_date#6857, initcap(trim(status#6858, None)) AS status#6863]
:        :     :     :     :     :                          +- Project [order_id#6851, customer_id#6852, city#6859, category#6860, product#6861, initcap(trim(amount#6856, None)) AS amount#6862, order_date#6857, status#6858]
:        :     :     :     :     :                             +- Project [order_id#6851, customer_id#6852, city#6859, category#6860, initcap(trim(product#6855, None)) AS product#6861, amount#6856, order_date#6857, status#6858]
:        :     :     :     :     :                                +- Project [order_id#6851, customer_id#6852, city#6859, initcap(trim(category#6854, None)) AS category#6860, product#6855, amount#6856, order_date#6857, status#6858]
:        :     :     :     :     :                                   +- Project [order_id#6851, customer_id#6852, initcap(trim(city#6853, None)) AS city#6859, category#6854, product#6855, amount#6856, order_date#6857, status#6858]
:        :     :     :     :     :                                      +- Relation [order_id#6851,customer_id#6852,city#6853,category#6854,product#6855,amount#6856,order_date#6857,status#6858] csv
:        :     :     :     :     +- Aggregate [customer_id#6868], [customer_id#6868, avg(amount#6880) AS Avg Order Spending#646]
:        :     :     :     :        +- Filter (status#6879 = Completed)
:        :     :     :     :           +- Deduplicate [order_id#6867]
:        :     :     :     :              +- Filter atleastnnonnulls(2, amount#6880, order_date#6881)
:        :     :     :     :                 +- Project [order_id#6867, customer_id#6868, city#6875, category#6876, product#6877, amount#6880, coalesce(to_date(try_to_timestamp(order_date#6873, Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true), to_date(try_to_timestamp(order_date#6873, Some(dd/MM/yyyy), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true), to_date(try_to_timestamp(order_date#6873, Some(yyyy/MM/dd), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true)) AS order_date#6881, status#6879]
:        :     :     :     :                    +- Project [order_id#6867, customer_id#6868, city#6875, category#6876, product#6877, CASE WHEN ((regexp_extract(amount#6878, (\d+), 0) = ) OR isnull(regexp_extract(amount#6878, (\d+), 0))) THEN 0 ELSE cast(regexp_extract(amount#6878, (\d+), 0) as int) END AS amount#6880, order_date#6873, status#6879]
:        :     :     :     :                       +- Project [order_id#6867, customer_id#6868, city#6875, category#6876, product#6877, amount#6878, order_date#6873, initcap(trim(status#6874, None)) AS status#6879]
:        :     :     :     :                          +- Project [order_id#6867, customer_id#6868, city#6875, category#6876, product#6877, initcap(trim(amount#6872, None)) AS amount#6878, order_date#6873, status#6874]
:        :     :     :     :                             +- Project [order_id#6867, customer_id#6868, city#6875, category#6876, initcap(trim(product#6871, None)) AS product#6877, amount#6872, order_date#6873, status#6874]
:        :     :     :     :                                +- Project [order_id#6867, customer_id#6868, city#6875, initcap(trim(category#6870, None)) AS category#6876, product#6871, amount#6872, order_date#6873, status#6874]
:        :     :     :     :                                   +- Project [order_id#6867, customer_id#6868, initcap(trim(city#6869, None)) AS city#6875, category#6870, product#6871, amount#6872, order_date#6873, status#6874]
:        :     :     :     :                                      +- Relation [order_id#6867,customer_id#6868,city#6869,category#6870,product#6871,amount#6872,order_date#6873,status#6874] csv
:        :     :     :     +- Aggregate [customer_id#6884], [customer_id#6884, min(order_date#6897) AS First_Purchase_Date#6697]
:        :     :     :        +- Filter (status#6895 = Completed)
:        :     :     :           +- Deduplicate [order_id#6883]
:        :     :     :              +- Filter atleastnnonnulls(2, amount#6896, order_date#6897)
:        :     :     :                 +- Project [order_id#6883, customer_id#6884, city#6891, category#6892, product#6893, amount#6896, coalesce(to_date(try_to_timestamp(order_date#6889, Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true), to_date(try_to_timestamp(order_date#6889, Some(dd/MM/yyyy), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true), to_date(try_to_timestamp(order_date#6889, Some(yyyy/MM/dd), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true)) AS order_date#6897, status#6895]
:        :     :     :                    +- Project [order_id#6883, customer_id#6884, city#6891, category#6892, product#6893, CASE WHEN ((regexp_extract(amount#6894, (\d+), 0) = ) OR isnull(regexp_extract(amount#6894, (\d+), 0))) THEN 0 ELSE cast(regexp_extract(amount#6894, (\d+), 0) as int) END AS amount#6896, order_date#6889, status#6895]
:        :     :     :                       +- Project [order_id#6883, customer_id#6884, city#6891, category#6892, product#6893, amount#6894, order_date#6889, initcap(trim(status#6890, None)) AS status#6895]
:        :     :     :                          +- Project [order_id#6883, customer_id#6884, city#6891, category#6892, product#6893, initcap(trim(amount#6888, None)) AS amount#6894, order_date#6889, status#6890]
:        :     :     :                             +- Project [order_id#6883, customer_id#6884, city#6891, category#6892, initcap(trim(product#6887, None)) AS product#6893, amount#6888, order_date#6889, status#6890]
:        :     :     :                                +- Project [order_id#6883, customer_id#6884, city#6891, initcap(trim(category#6886, None)) AS category#6892, product#6887, amount#6888, order_date#6889, status#6890]
:        :     :     :                                   +- Project [order_id#6883, customer_id#6884, initcap(trim(city#6885, None)) AS city#6891, category#6886, product#6887, amount#6888, order_date#6889, status#6890]
:        :     :     :                                      +- Relation [order_id#6883,customer_id#6884,city#6885,category#6886,product#6887,amount#6888,order_date#6889,status#6890] csv
:        :     :     +- Aggregate [customer_id#6900], [customer_id#6900, max(order_date#6913) AS Last_Purchase_Date#6774]
:        :     :        +- Filter (status#6911 = Completed)
:        :     :           +- Deduplicate [order_id#6899]
:        :     :              +- Filter atleastnnonnulls(2, amount#6912, order_date#6913)
:        :     :                 +- Project [order_id#6899, customer_id#6900, city#6907, category#6908, product#6909, amount#6912, coalesce(to_date(try_to_timestamp(order_date#6905, Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true), to_date(try_to_timestamp(order_date#6905, Some(dd/MM/yyyy), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true), to_date(try_to_timestamp(order_date#6905, Some(yyyy/MM/dd), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true)) AS order_date#6913, status#6911]
:        :     :                    +- Project [order_id#6899, customer_id#6900, city#6907, category#6908, product#6909, CASE WHEN ((regexp_extract(amount#6910, (\d+), 0) = ) OR isnull(regexp_extract(amount#6910, (\d+), 0))) THEN 0 ELSE cast(regexp_extract(amount#6910, (\d+), 0) as int) END AS amount#6912, order_date#6905, status#6911]
:        :     :                       +- Project [order_id#6899, customer_id#6900, city#6907, category#6908, product#6909, amount#6910, order_date#6905, initcap(trim(status#6906, None)) AS status#6911]
:        :     :                          +- Project [order_id#6899, customer_id#6900, city#6907, category#6908, product#6909, initcap(trim(amount#6904, None)) AS amount#6910, order_date#6905, status#6906]
:        :     :                             +- Project [order_id#6899, customer_id#6900, city#6907, category#6908, initcap(trim(product#6903, None)) AS product#6909, amount#6904, order_date#6905, status#6906]
:        :     :                                +- Project [order_id#6899, customer_id#6900, city#6907, initcap(trim(category#6902, None)) AS category#6908, product#6903, amount#6904, order_date#6905, status#6906]
:        :     :                                   +- Project [order_id#6899, customer_id#6900, initcap(trim(city#6901, None)) AS city#6907, category#6902, product#6903, amount#6904, order_date#6905, status#6906]
:        :     :                                      +- Relation [order_id#6899,customer_id#6900,city#6901,category#6902,product#6903,amount#6904,order_date#6905,status#6906] csv
:        :     +- Aggregate [customer_id#6916], [customer_id#6916, count(distinct city#6923) AS Distinct_Cities#960L]
:        :        +- Filter (status#6927 = Completed)
:        :           +- Deduplicate [order_id#6915]
:        :              +- Filter atleastnnonnulls(2, amount#6928, order_date#6929)
:        :                 +- Project [order_id#6915, customer_id#6916, city#6923, category#6924, product#6925, amount#6928, coalesce(to_date(try_to_timestamp(order_date#6921, Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true), to_date(try_to_timestamp(order_date#6921, Some(dd/MM/yyyy), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true), to_date(try_to_timestamp(order_date#6921, Some(yyyy/MM/dd), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true)) AS order_date#6929, status#6927]
:        :                    +- Project [order_id#6915, customer_id#6916, city#6923, category#6924, product#6925, CASE WHEN ((regexp_extract(amount#6926, (\d+), 0) = ) OR isnull(regexp_extract(amount#6926, (\d+), 0))) THEN 0 ELSE cast(regexp_extract(amount#6926, (\d+), 0) as int) END AS amount#6928, order_date#6921, status#6927]
:        :                       +- Project [order_id#6915, customer_id#6916, city#6923, category#6924, product#6925, amount#6926, order_date#6921, initcap(trim(status#6922, None)) AS status#6927]
:        :                          +- Project [order_id#6915, customer_id#6916, city#6923, category#6924, product#6925, initcap(trim(amount#6920, None)) AS amount#6926, order_date#6921, status#6922]
:        :                             +- Project [order_id#6915, customer_id#6916, city#6923, category#6924, initcap(trim(product#6919, None)) AS product#6925, amount#6920, order_date#6921, status#6922]
:        :                                +- Project [order_id#6915, customer_id#6916, city#6923, initcap(trim(category#6918, None)) AS category#6924, product#6919, amount#6920, order_date#6921, status#6922]
:        :                                   +- Project [order_id#6915, customer_id#6916, initcap(trim(city#6917, None)) AS city#6923, category#6918, product#6919, amount#6920, order_date#6921, status#6922]
:        :                                      +- Relation [order_id#6915,customer_id#6916,city#6917,category#6918,product#6919,amount#6920,order_date#6921,status#6922] csv
:        +- Aggregate [customer_id#6932], [customer_id#6932, count(distinct category#6940) AS Distinct_Categories#1043L]
:           +- Filter (status#6943 = Completed)
:              +- Deduplicate [order_id#6931]
:                 +- Filter atleastnnonnulls(2, amount#6944, order_date#6945)
:                    +- Project [order_id#6931, customer_id#6932, city#6939, category#6940, product#6941, amount#6944, coalesce(to_date(try_to_timestamp(order_date#6937, Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true), to_date(try_to_timestamp(order_date#6937, Some(dd/MM/yyyy), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true), to_date(try_to_timestamp(order_date#6937, Some(yyyy/MM/dd), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true)) AS order_date#6945, status#6943]
:                       +- Project [order_id#6931, customer_id#6932, city#6939, category#6940, product#6941, CASE WHEN ((regexp_extract(amount#6942, (\d+), 0) = ) OR isnull(regexp_extract(amount#6942, (\d+), 0))) THEN 0 ELSE cast(regexp_extract(amount#6942, (\d+), 0) as int) END AS amount#6944, order_date#6937, status#6943]
:                          +- Project [order_id#6931, customer_id#6932, city#6939, category#6940, product#6941, amount#6942, order_date#6937, initcap(trim(status#6938, None)) AS status#6943]
:                             +- Project [order_id#6931, customer_id#6932, city#6939, category#6940, product#6941, initcap(trim(amount#6936, None)) AS amount#6942, order_date#6937, status#6938]
:                                +- Project [order_id#6931, customer_id#6932, city#6939, category#6940, initcap(trim(product#6935, None)) AS product#6941, amount#6936, order_date#6937, status#6938]
:                                   +- Project [order_id#6931, customer_id#6932, city#6939, initcap(trim(category#6934, None)) AS category#6940, product#6935, amount#6936, order_date#6937, status#6938]
:                                      +- Project [order_id#6931, customer_id#6932, initcap(trim(city#6933, None)) AS city#6939, category#6934, product#6935, amount#6936, order_date#6937, status#6938]
:                                         +- Relation [order_id#6931,customer_id#6932,city#6933,category#6934,product#6935,amount#6936,order_date#6937,status#6938] csv
+- Filter (status#8618 = Completed)
   +- Deduplicate [order_id#8606]
      +- Filter atleastnnonnulls(2, amount#8619, order_date#8620)
         +- Project [order_id#8606, customer_id#8607, city#8614, category#8615, product#8616, amount#8619, coalesce(to_date(try_to_timestamp(order_date#8612, Some(yyyy-MM-dd), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true), to_date(try_to_timestamp(order_date#8612, Some(dd/MM/yyyy), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true), to_date(try_to_timestamp(order_date#8612, Some(yyyy/MM/dd), TimestampType, Some(Etc/UTC), false), None, Some(Etc/UTC), true)) AS order_date#8620, status#8618]

4 & 5. Strategy:
Shuffle occurs during groupBy and Window operations.
Repartitioning by 'city' before the Window function in Phase 4 could optimize performance if data is skewed.

Example: city_spend_df.repartition("city")

PHASE 8 – Broadcast Join (Light Use)
Create a small lookup:

segment_code,segment_label
1,VIP
2,Premium
3,Regular

Map:

VIP → 1
Premium → 2
Regular → 3

Tasks:
1. Create this as a small DataFrame.
2. Join with customer segmentation output.
3. Force broadcast join.
4. Verify BroadcastHashJoin in plan.

In [73]:
data_lookup = [("VIP", 1), ("Premium", 2), ("Regular", 3)]
lookup_df = spark.createDataFrame(data_lookup, ["segment_label", "segment_code"])

In [75]:
broadcast_result = segmented_df.join(
broadcast(lookup_df),
segmented_df.customer_segment == lookup_df.segment_label,
"inner"
)

In [76]:
broadcast_result.explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- BroadcastHashJoin [customer_segment#7501], [segment_label#15104], Inner, BuildRight, false
   :- Project [customer_id#15107, Total Order#504L, Total Spending#569L, Avg Order Spending#646, First_Purchase_Date#6697, Last_Purchase_Date#6774, Distinct_Cities#960L, Distinct_Categories#1043L, CASE WHEN ((Total Spending#569L >= 200000) AND (Total Order#504L >= 5)) THEN VIP WHEN (Total Spending#569L >= 100000) THEN Premium ELSE Regular END AS customer_segment#7501]
   :  +- BroadcastHashJoin [customer_id#15107], [customer_id#15191], Inner, BuildRight, false
   :     :- Project [customer_id#15107, Total Order#504L, Total Spending#569L, Avg Order Spending#646, First_Purchase_Date#6697, Last_Purchase_Date#6774, Distinct_Cities#960L]
   :     :  +- BroadcastHashJoin [customer_id#15107], [customer_id#15177], Inner, BuildRight, false
   :     :     :- Project [customer_id#15107, Total Order#504L, Total Spending#569L, Avg Order Spending#646, First_Purchase_Date#6697, Last_Purchase_Date#6774]
   :     :     :  +- BroadcastHashJoin [customer_id#15107], [customer_id#15163], Inner, BuildRight, false
   :     :     :     :- Project [customer_id#15107, Total Order#504L, Total Spending#569L, Avg Order Spending#646, First_Purchase_Date#6697]
   :     :     :     :  +- BroadcastHashJoin [customer_id#15107], [customer_id#15149], Inner, BuildRight, false
   :     :     :     :     :- Project [customer_id#15107, Total Order#504L, Total Spending#569L, Avg Order Spending#646]
   :     :     :     :     :  +- BroadcastHashJoin [customer_id#15107], [customer_id#15135], Inner, BuildRight, false
   :     :     :     :     :     :- Project [customer_id#15107, Total Order#504L, Total Spending#569L]
   :     :     :     :     :     :  +- BroadcastHashJoin [customer_id#15107], [customer_id#15121], Inner, BuildRight, false
   :     :     :     :     :     :     :- HashAggregate(keys=[customer_id#15107], functions=[count(order_id#17)])
   :     :     :     :     :     :     :  +- Exchange hashpartitioning(customer_id#15107, 200), ENSURE_REQUIREMENTS, [plan_id=91808]
   :     :     :     :     :     :     :     +- HashAggregate(keys=[customer_id#15107], functions=[partial_count(order_id#17)])
   :     :     :     :     :     :     :        +- Project [order_id#17, customer_id#15107]
   :     :     :     :     :     :     :           +- Filter ((isnotnull(status#15119) AND (status#15119 = Completed)) AND isnotnull(customer_id#15107))
   :     :     :     :     :     :     :              +- SortAggregate(key=[order_id#17], functions=[first(customer_id#18, false), first(status#261, false)])
   :     :     :     :     :     :     :                 +- Sort [order_id#17 ASC NULLS FIRST], false, 0
   :     :     :     :     :     :     :                    +- Exchange hashpartitioning(order_id#17, 200), ENSURE_REQUIREMENTS, [plan_id=91801]
   :     :     :     :     :     :     :                       +- SortAggregate(key=[order_id#17], functions=[partial_first(customer_id#18, false), partial_first(status#261, false)])
   :     :     :     :     :     :     :                          +- Sort [order_id#17 ASC NULLS FIRST], false, 0
   :     :     :     :     :     :     :                             +- Project [order_id#17, customer_id#18, initcap(trim(status#24, None)) AS status#261]
   :     :     :     :     :     :     :                                +- Filter atleastnnonnulls(2, CASE WHEN ((regexp_extract(initcap(trim(amount#22, None)), (\d+), 0) = ) OR isnull(regexp_extract(initcap(trim(amount#22, None)), (\d+), 0))) THEN 0 ELSE cast(regexp_extract(initcap(trim(amount#22, None)), (\d+), 0) as int) END, coalesce(cast(gettimestamp(order_date#23, yyyy-MM-dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date), cast(gettimestamp(order_date#23, dd/MM/yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date), cast(gettimestamp(order_date#23, yyyy/MM/dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date)))
   :     :     :     :     :     :     :                                   +- FileScan csv [order_id#17,customer_id#18,amount#22,order_date#23,status#24] Batched: false, DataFilters: [atleastnnonnulls(2, CASE WHEN ((regexp_extract(initcap(trim(amount#22, None)), (\d+), 0) = ) OR ..., Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/content/orders.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<order_id:string,customer_id:string,amount:string,order_date:string,status:string>
   :     :     :     :     :     :     +- BroadcastExchange HashedRelationBroadcastMode(List(input[0, string, true]),false), [plan_id=91823]
   :     :     :     :     :     :        +- HashAggregate(keys=[customer_id#15121], functions=[sum(amount#15129)])
   :     :     :     :     :     :           +- Exchange hashpartitioning(customer_id#15121, 200), ENSURE_REQUIREMENTS, [plan_id=91820]
   :     :     :     :     :     :              +- HashAggregate(keys=[customer_id#15121], functions=[partial_sum(amount#15129)])
   :     :     :     :     :     :                 +- Project [customer_id#15121, amount#15129]
   :     :     :     :     :     :                    +- Filter ((isnotnull(status#15133) AND (status#15133 = Completed)) AND isnotnull(customer_id#15121))
   :     :     :     :     :     :                       +- SortAggregate(key=[order_id#6851], functions=[first(customer_id#6852, false), first(amount#6864, false), first(status#6863, false)])
   :     :     :     :     :     :                          +- Sort [order_id#6851 ASC NULLS FIRST], false, 0
   :     :     :     :     :     :                             +- Exchange hashpartitioning(order_id#6851, 200), ENSURE_REQUIREMENTS, [plan_id=91813]
   :     :     :     :     :     :                                +- SortAggregate(key=[order_id#6851], functions=[partial_first(customer_id#6852, false), partial_first(amount#6864, false), partial_first(status#6863, false)])
   :     :     :     :     :     :                                   +- Sort [order_id#6851 ASC NULLS FIRST], false, 0
   :     :     :     :     :     :                                      +- Project [order_id#6851, customer_id#6852, CASE WHEN ((regexp_extract(amount#6862, (\d+), 0) = ) OR isnull(regexp_extract(amount#6862, (\d+), 0))) THEN 0 ELSE cast(regexp_extract(amount#6862, (\d+), 0) as int) END AS amount#6864, status#6863]
   :     :     :     :     :     :                                         +- Project [order_id#6851, customer_id#6852, initcap(trim(amount#6856, None)) AS amount#6862, initcap(trim(status#6858, None)) AS status#6863]
   :     :     :     :     :     :                                            +- Filter atleastnnonnulls(2, CASE WHEN ((regexp_extract(initcap(trim(amount#6856, None)), (\d+), 0) = ) OR isnull(regexp_extract(initcap(trim(amount#6856, None)), (\d+), 0))) THEN 0 ELSE cast(regexp_extract(initcap(trim(amount#6856, None)), (\d+), 0) as int) END, coalesce(cast(gettimestamp(order_date#6857, yyyy-MM-dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date), cast(gettimestamp(order_date#6857, dd/MM/yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date), cast(gettimestamp(order_date#6857, yyyy/MM/dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date)))
   :     :     :     :     :     :                                               +- FileScan csv [order_id#6851,customer_id#6852,amount#6856,order_date#6857,status#6858] Batched: false, DataFilters: [atleastnnonnulls(2, CASE WHEN ((regexp_extract(initcap(trim(amount#6856, None)), (\d+), 0) = ) O..., Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/content/orders.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<order_id:string,customer_id:string,amount:string,order_date:string,status:string>
   :     :     :     :     :     +- BroadcastExchange HashedRelationBroadcastMode(List(input[0, string, true]),false), [plan_id=91839]
   :     :     :     :     :        +- HashAggregate(keys=[customer_id#15135], functions=[avg(amount#15143)])
   :     :     :     :     :           +- Exchange hashpartitioning(customer_id#15135, 200), ENSURE_REQUIREMENTS, [plan_id=91836]
   :     :     :     :     :              +- HashAggregate(keys=[customer_id#15135], functions=[partial_avg(amount#15143)])
   :     :     :     :     :                 +- Project [customer_id#15135, amount#15143]
   :     :     :     :     :                    +- Filter ((isnotnull(status#15147) AND (status#15147 = Completed)) AND isnotnull(customer_id#15135))
   :     :     :     :     :                       +- SortAggregate(key=[order_id#6867], functions=[first(customer_id#6868, false), first(amount#6880, false), first(status#6879, false)])
   :     :     :     :     :                          +- Sort [order_id#6867 ASC NULLS FIRST], false, 0
   :     :     :     :     :                             +- Exchange hashpartitioning(order_id#6867, 200), ENSURE_REQUIREMENTS, [plan_id=91829]
   :     :     :     :     :                                +- SortAggregate(key=[order_id#6867], functions=[partial_first(customer_id#6868, false), partial_first(amount#6880, false), partial_first(status#6879, false)])
   :     :     :     :     :                                   +- Sort [order_id#6867 ASC NULLS FIRST], false, 0
   :     :     :     :     :                                      +- Project [order_id#6867, customer_id#6868, CASE WHEN ((regexp_extract(amount#6878, (\d+), 0) = ) OR isnull(regexp_extract(amount#6878, (\d+), 0))) THEN 0 ELSE cast(regexp_extract(amount#6878, (\d+), 0) as int) END AS amount#6880, status#6879]
   :     :     :     :     :                                         +- Project [order_id#6867, customer_id#6868, initcap(trim(amount#6872, None)) AS amount#6878, initcap(trim(status#6874, None)) AS status#6879]
   :     :     :     :     :                                            +- Filter atleastnnonnulls(2, CASE WHEN ((regexp_extract(initcap(trim(amount#6872, None)), (\d+), 0) = ) OR isnull(regexp_extract(initcap(trim(amount#6872, None)), (\d+), 0))) THEN 0 ELSE cast(regexp_extract(initcap(trim(amount#6872, None)), (\d+), 0) as int) END, coalesce(cast(gettimestamp(order_date#6873, yyyy-MM-dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date), cast(gettimestamp(order_date#6873, dd/MM/yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date), cast(gettimestamp(order_date#6873, yyyy/MM/dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date)))
   :     :     :     :     :                                               +- FileScan csv [order_id#6867,customer_id#6868,amount#6872,order_date#6873,status#6874] Batched: false, DataFilters: [atleastnnonnulls(2, CASE WHEN ((regexp_extract(initcap(trim(amount#6872, None)), (\d+), 0) = ) O..., Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/content/orders.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<order_id:string,customer_id:string,amount:string,order_date:string,status:string>
   :     :     :     :     +- BroadcastExchange HashedRelationBroadcastMode(List(input[0, string, true]),false), [plan_id=91855]
   :     :     :     :        +- HashAggregate(keys=[customer_id#15149], functions=[min(order_date#15159)])
   :     :     :     :           +- Exchange hashpartitioning(customer_id#15149, 200), ENSURE_REQUIREMENTS, [plan_id=91852]
   :     :     :     :              +- HashAggregate(keys=[customer_id#15149], functions=[partial_min(order_date#15159)])
   :     :     :     :                 +- Project [customer_id#15149, order_date#15159]
   :     :     :     :                    +- Filter ((isnotnull(status#15161) AND (status#15161 = Completed)) AND isnotnull(customer_id#15149))
   :     :     :     :                       +- SortAggregate(key=[order_id#6883], functions=[first(customer_id#6884, false), first(order_date#6897, false), first(status#6895, false)])
   :     :     :     :                          +- Sort [order_id#6883 ASC NULLS FIRST], false, 0
   :     :     :     :                             +- Exchange hashpartitioning(order_id#6883, 200), ENSURE_REQUIREMENTS, [plan_id=91845]
   :     :     :     :                                +- SortAggregate(key=[order_id#6883], functions=[partial_first(customer_id#6884, false), partial_first(order_date#6897, false), partial_first(status#6895, false)])
   :     :     :     :                                   +- Sort [order_id#6883 ASC NULLS FIRST], false, 0
   :     :     :     :                                      +- Project [order_id#6883, customer_id#6884, coalesce(cast(gettimestamp(order_date#6889, yyyy-MM-dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date), cast(gettimestamp(order_date#6889, dd/MM/yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date), cast(gettimestamp(order_date#6889, yyyy/MM/dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date)) AS order_date#6897, initcap(trim(status#6890, None)) AS status#6895]
   :     :     :     :                                         +- Filter atleastnnonnulls(2, CASE WHEN ((regexp_extract(initcap(trim(amount#6888, None)), (\d+), 0) = ) OR isnull(regexp_extract(initcap(trim(amount#6888, None)), (\d+), 0))) THEN 0 ELSE cast(regexp_extract(initcap(trim(amount#6888, None)), (\d+), 0) as int) END, coalesce(cast(gettimestamp(order_date#6889, yyyy-MM-dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date), cast(gettimestamp(order_date#6889, dd/MM/yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date), cast(gettimestamp(order_date#6889, yyyy/MM/dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date)))
   :     :     :     :                                            +- FileScan csv [order_id#6883,customer_id#6884,amount#6888,order_date#6889,status#6890] Batched: false, DataFilters: [atleastnnonnulls(2, CASE WHEN ((regexp_extract(initcap(trim(amount#6888, None)), (\d+), 0) = ) O..., Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/content/orders.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<order_id:string,customer_id:string,amount:string,order_date:string,status:string>
   :     :     :     +- BroadcastExchange HashedRelationBroadcastMode(List(input[0, string, true]),false), [plan_id=91871]
   :     :     :        +- HashAggregate(keys=[customer_id#15163], functions=[max(order_date#15173)])
   :     :     :           +- Exchange hashpartitioning(customer_id#15163, 200), ENSURE_REQUIREMENTS, [plan_id=91868]
   :     :     :              +- HashAggregate(keys=[customer_id#15163], functions=[partial_max(order_date#15173)])
   :     :     :                 +- Project [customer_id#15163, order_date#15173]
   :     :     :                    +- Filter ((isnotnull(status#15175) AND (status#15175 = Completed)) AND isnotnull(customer_id#15163))
   :     :     :                       +- SortAggregate(key=[order_id#6899], functions=[first(customer_id#6900, false), first(order_date#6913, false), first(status#6911, false)])
   :     :     :                          +- Sort [order_id#6899 ASC NULLS FIRST], false, 0
   :     :     :                             +- Exchange hashpartitioning(order_id#6899, 200), ENSURE_REQUIREMENTS, [plan_id=91861]
   :     :     :                                +- SortAggregate(key=[order_id#6899], functions=[partial_first(customer_id#6900, false), partial_first(order_date#6913, false), partial_first(status#6911, false)])
   :     :     :                                   +- Sort [order_id#6899 ASC NULLS FIRST], false, 0
   :     :     :                                      +- Project [order_id#6899, customer_id#6900, coalesce(cast(gettimestamp(order_date#6905, yyyy-MM-dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date), cast(gettimestamp(order_date#6905, dd/MM/yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date), cast(gettimestamp(order_date#6905, yyyy/MM/dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date)) AS order_date#6913, initcap(trim(status#6906, None)) AS status#6911]
   :     :     :                                         +- Filter atleastnnonnulls(2, CASE WHEN ((regexp_extract(initcap(trim(amount#6904, None)), (\d+), 0) = ) OR isnull(regexp_extract(initcap(trim(amount#6904, None)), (\d+), 0))) THEN 0 ELSE cast(regexp_extract(initcap(trim(amount#6904, None)), (\d+), 0) as int) END, coalesce(cast(gettimestamp(order_date#6905, yyyy-MM-dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date), cast(gettimestamp(order_date#6905, dd/MM/yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date), cast(gettimestamp(order_date#6905, yyyy/MM/dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date)))
   :     :     :                                            +- FileScan csv [order_id#6899,customer_id#6900,amount#6904,order_date#6905,status#6906] Batched: false, DataFilters: [atleastnnonnulls(2, CASE WHEN ((regexp_extract(initcap(trim(amount#6904, None)), (\d+), 0) = ) O..., Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/content/orders.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<order_id:string,customer_id:string,amount:string,order_date:string,status:string>
   :     :     +- BroadcastExchange HashedRelationBroadcastMode(List(input[0, string, true]),false), [plan_id=91891]
   :     :        +- HashAggregate(keys=[customer_id#15177], functions=[count(distinct city#15179)])
   :     :           +- Exchange hashpartitioning(customer_id#15177, 200), ENSURE_REQUIREMENTS, [plan_id=91888]
   :     :              +- HashAggregate(keys=[customer_id#15177], functions=[partial_count(distinct city#15179)])
   :     :                 +- HashAggregate(keys=[customer_id#15177, city#15179], functions=[])
   :     :                    +- Exchange hashpartitioning(customer_id#15177, city#15179, 200), ENSURE_REQUIREMENTS, [plan_id=91884]
   :     :                       +- HashAggregate(keys=[customer_id#15177, city#15179], functions=[])
   :     :                          +- Project [customer_id#15177, city#15179]
   :     :                             +- Filter ((isnotnull(status#15189) AND (status#15189 = Completed)) AND isnotnull(customer_id#15177))
   :     :                                +- SortAggregate(key=[order_id#6915], functions=[first(customer_id#6916, false), first(city#6923, false), first(status#6927, false)])
   :     :                                   +- Sort [order_id#6915 ASC NULLS FIRST], false, 0
   :     :                                      +- Exchange hashpartitioning(order_id#6915, 200), ENSURE_REQUIREMENTS, [plan_id=91877]
   :     :                                         +- SortAggregate(key=[order_id#6915], functions=[partial_first(customer_id#6916, false), partial_first(city#6923, false), partial_first(status#6927, false)])
   :     :                                            +- Sort [order_id#6915 ASC NULLS FIRST], false, 0
   :     :                                               +- Project [order_id#6915, customer_id#6916, initcap(trim(city#6917, None)) AS city#6923, initcap(trim(status#6922, None)) AS status#6927]
   :     :                                                  +- Filter atleastnnonnulls(2, CASE WHEN ((regexp_extract(initcap(trim(amount#6920, None)), (\d+), 0) = ) OR isnull(regexp_extract(initcap(trim(amount#6920, None)), (\d+), 0))) THEN 0 ELSE cast(regexp_extract(initcap(trim(amount#6920, None)), (\d+), 0) as int) END, coalesce(cast(gettimestamp(order_date#6921, yyyy-MM-dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date), cast(gettimestamp(order_date#6921, dd/MM/yyyy, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date), cast(gettimestamp(order_date#6921, yyyy/MM/dd, TimestampType, try_to_timestamp, Some(Etc/UTC), false) as date)))

In [77]:
broadcast_result.show()

+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+-------------+------------+
|customer_id|Total Order|Total Spending|Avg Order Spending|First_Purchase_Date|Last_Purchase_Date|Distinct_Cities|Distinct_Categories|customer_segment|segment_label|segment_code|
+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+-------------+------------+
|    C000142|          6|        301300|50216.666666666664|         2024-01-03|        2024-02-12|              4|                  4|             VIP|          VIP|           1|
|    C000299|          6|        216273|           36045.5|         2024-01-20|        2024-02-29|              4|                  4|             VIP|          VIP|           1|
|    C000433|          6|        285507|           47584.5|         2024-01-14|        2024-02-23|              4|                  3|             VIP|          VIP|           1|
|    C001115|          6|        163614|           27269.0|         2024-01-16|        2024-02-25|              6|                  4|         Premium|      Premium|           2|
|    C001875|          6|        213381|           35563.5|         2024-01-16|        2024-02-25|              5|                  3|             VIP|          VIP|           1|
|    C002484|          5|        106303|           21260.6|         2024-01-05|        2024-02-14|              5|                  4|         Premium|      Premium|           2|
|    C002512|          6|        336838|56139.666666666664|         2024-01-13|        2024-02-22|              3|                  4|             VIP|          VIP|           1|
|    C002837|          6|        213260|35543.333333333336|         2024-01-18|        2024-02-27|              5|                  3|             VIP|          VIP|           1|
|    C003194|          6|        227384|37897.333333333336|         2024-01-15|        2024-02-24|              4|                  3|             VIP|          VIP|           1|
|    C003484|          6|        300712|50118.666666666664|         2024-01-05|        2024-02-14|              5|                  3|             VIP|          VIP|           1|
|    C004744|          6|        170512|28418.666666666668|         2024-01-05|        2024-02-14|              3|                  2|         Premium|      Premium|           2|
|    C004804|          6|        170880|           28480.0|         2024-01-05|        2024-02-14|              3|                  4|         Premium|      Premium|           2|
|    C005119|          6|        197410|32901.666666666664|         2024-01-20|        2024-02-29|              5|                  4|         Premium|      Premium|           2|
|    C005781|          6|        197168|32861.333333333336|         2024-01-02|        2024-02-11|              5|                  4|         Premium|      Premium|           2|
|    C006654|          6|        130659|           21776.5|         2024-01-15|        2024-02-24|              4|                  3|         Premium|      Premium|           2|
|    C007013|          6|        241427|40237.833333333336|         2024-01-14|        2024-02-23|              2|                  2|             VIP|          VIP|           1|
|    C008123|          6|        220137|           36689.5|         2024-01-04|        2024-02-13|              3|                  4|             VIP|          VIP|           1|
|    C008343|          6|        230184|           38364.0|         2024-01-04|        2024-02-13|              5|                  4|             VIP|          VIP|           1|
|    C008471|          6|        214694|35782.333333333336|         2024-01-12|        2024-02-21|              4|                  4|             VIP|          VIP|           1|
|    C009248|          6|        203246|33874.333333333336|         2024-01-09|        2024-02-18|              4|                  4|             VIP|          VIP|           1|
+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+-------------+------------+
only showing top 20 rows

PHASE 9 – Sorting & Set Operations
1. Sort customers by:

Total spend descending
Order count descending

2. Create two sets:
Customers who bought Electronics
Customers who bought Grocery

3. Find:
Customers in both sets
Customers in only one set

In [79]:
segmented_df.show()

+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+
|customer_id|Total Order|Total Spending|Avg Order Spending|First_Purchase_Date|Last_Purchase_Date|Distinct_Cities|Distinct_Categories|customer_segment|
+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+
|    C000142|          6|        301300|50216.666666666664|         2024-01-03|        2024-02-12|              4|                  4|             VIP|
|    C000299|          6|        216273|           36045.5|         2024-01-20|        2024-02-29|              4|                  4|             VIP|
|    C000433|          6|        285507|           47584.5|         2024-01-14|        2024-02-23|              4|                  3|             VIP|
|    C001115|          6|        163614|           27269.0|         2024-01-16|        2024-02-25|              6|                  4|         Premium|
|    C001875|          6|        213381|           35563.5|         2024-01-16|        2024-02-25|              5|                  3|             VIP|
|    C002484|          5|        106303|           21260.6|         2024-01-05|        2024-02-14|              5|                  4|         Premium|
|    C002512|          6|        336838|56139.666666666664|         2024-01-13|        2024-02-22|              3|                  4|             VIP|
|    C002837|          6|        213260|35543.333333333336|         2024-01-18|        2024-02-27|              5|                  3|             VIP|
|    C003194|          6|        227384|37897.333333333336|         2024-01-15|        2024-02-24|              4|                  3|             VIP|
|    C003484|          6|        300712|50118.666666666664|         2024-01-05|        2024-02-14|              5|                  3|             VIP|
|    C004744|          6|        170512|28418.666666666668|         2024-01-05|        2024-02-14|              3|                  2|         Premium|
|    C004804|          6|        170880|           28480.0|         2024-01-05|        2024-02-14|              3|                  4|         Premium|
|    C005119|          6|        197410|32901.666666666664|         2024-01-20|        2024-02-29|              5|                  4|         Premium|
|    C005781|          6|        197168|32861.333333333336|         2024-01-02|        2024-02-11|              5|                  4|         Premium|
|    C006654|          6|        130659|           21776.5|         2024-01-15|        2024-02-24|              4|                  3|         Premium|
|    C007013|          6|        241427|40237.833333333336|         2024-01-14|        2024-02-23|              2|                  2|             VIP|
|    C008123|          6|        220137|           36689.5|         2024-01-04|        2024-02-13|              3|                  4|             VIP|
|    C008343|          6|        230184|           38364.0|         2024-01-04|        2024-02-13|              5|                  4|             VIP|
|    C008471|          6|        214694|35782.333333333336|         2024-01-12|        2024-02-21|              4|                  4|             VIP|
|    C009248|          6|        203246|33874.333333333336|         2024-01-09|        2024-02-18|              4|                  4|             VIP|
+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+
only showing top 20 rows

In [81]:
sorted_customers = segmented_df.orderBy(col("Total Spending").desc(), col("Total Order").desc())
sorted_customers.show()

+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+
|customer_id|Total Order|Total Spending|Avg Order Spending|First_Purchase_Date|Last_Purchase_Date|Distinct_Cities|Distinct_Categories|customer_segment|
+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+
|    C043076|          6|        493949| 82324.83333333333|         2024-01-17|        2024-02-26|              5|                  4|             VIP|
|    C034689|          6|        486879|           81146.5|         2024-01-10|        2024-02-19|              4|                  3|             VIP|
|    C039985|          6|        484057| 80676.16666666667|         2024-01-06|        2024-02-15|              3|                  4|             VIP|
|    C026691|          6|        477147|           79524.5|         2024-01-12|        2024-02-21|              4|                  3|             VIP|
|    C038979|          6|        477138|           79523.0|         2024-01-20|        2024-02-29|              5|                  4|             VIP|
|    C020762|          6|        474717|           79119.5|         2024-01-03|        2024-02-12|              5|                  3|             VIP|
|    C044654|          6|        471304| 78550.66666666667|         2024-01-15|        2024-02-24|              5|                  2|             VIP|
|    C014292|          6|        468617| 78102.83333333333|         2024-01-13|        2024-02-22|              5|                  3|             VIP|
|    C019565|          6|        467523|           77920.5|         2024-01-06|        2024-02-15|              3|                  3|             VIP|
|    C045487|          6|        467050| 77841.66666666667|         2024-01-08|        2024-02-17|              4|                  3|             VIP|
|    C046747|          6|        464951| 77491.83333333333|         2024-01-08|        2024-02-17|              4|                  3|             VIP|
|    C004490|          6|        463923|           77320.5|         2024-01-11|        2024-02-20|              5|                  4|             VIP|
|    C038296|          6|        463147| 77191.16666666667|         2024-01-17|        2024-02-26|              4|                  4|             VIP|
|    C005286|          6|        463098|           77183.0|         2024-01-07|        2024-02-16|              5|                  4|             VIP|
|    C022754|          6|        462987|           77164.5|         2024-01-15|        2024-02-24|              3|                  4|             VIP|
|    C047145|          6|        458602| 76433.66666666667|         2024-01-06|        2024-02-15|              5|                  4|             VIP|
|    C026261|          6|        458067|           76344.5|         2024-01-02|        2024-02-11|              3|                  2|             VIP|
|    C029753|          6|        457258| 76209.66666666667|         2024-01-14|        2024-02-23|              4|                  4|             VIP|
|    C037602|          6|        456932| 76155.33333333333|         2024-01-03|        2024-02-12|              5|                  3|             VIP|
|    C017673|          6|        454569|           75761.5|         2024-01-14|        2024-02-23|              4|                  3|             VIP|
+-----------+-----------+--------------+------------------+-------------------+------------------+---------------+-------------------+----------------+
only showing top 20 rows

In [82]:
electronics_cust = clean_orders_df.filter(col("category") == "Electronics").select("customer_id").distinct()
grocery_cust = clean_orders_df.filter(col("category") == "Grocery").select("customer_id").distinct()

both_sets = electronics_cust.intersect(grocery_cust)

only_electronics = electronics_cust.subtract(grocery_cust)

print(f"Both: {both_sets.count()}, Only Electronics: {only_electronics.count()}")

Both: 31006, Only Electronics: 7831

PHASE 10 – Storage Strategy
1. Write customer master dataset to:

Parquet

Partitioned by:

customer_segment

2. Write monthly analytics to:

ORC

3. Read back and validate.

In [ ]:
segmented_df.write.mode("overwrite").partitionBy("customer_segment").parquet("output/customer_master_parquet")

monthly_revenue_city.write.mode("overwrite").orc("output/monthly_analytics_orc")

PHASE 11 – Debugging
Explain why this is dangerous:

df = df.groupBy("customer_id").sum("amount").show()

Explain:
What df becomes
Why pipeline breaks
Correct approach

EXPLANATION:
1. What df becomes:
The .show() method is an Action that prints to console and returns 'None'.

Therefore, the variable 'df' is assigned the value 'None' (null).