In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
.appName('Basics') \
.getOrCreate()

spark.version

'4.0.1'

# First DataFrame

In [5]:
data = [
    {"name":"Arjun","age":21},
     {"name":"Rahul","age":23},
     {"name":"John","age":19},
]

df = spark.createDataFrame(data)
df.show()

+---+-----+
|age| name|
+---+-----+
| 21|Arjun|
| 23|Rahul|
| 19| John|
+---+-----+

In [6]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [8]:
df.select('name').show()
df.select('name','age').show()

+-----+
| name|
+-----+
|Arjun|
|Rahul|
| John|
+-----+

+-----+---+
| name|age|
+-----+---+
|Arjun| 21|
|Rahul| 23|
| John| 19|
+-----+---+

In [9]:
df.filter(df.age > 20).show()

+---+-----+
|age| name|
+---+-----+
| 21|Arjun|
| 23|Rahul|
+---+-----+

In [10]:
from pyspark.sql.functions import col

df2 = df.withColumn('age',col('age')+5)
df2.show()

+---+-----+
|age| name|
+---+-----+
| 26|Arjun|
| 28|Rahul|
| 24| John|
+---+-----+

In [11]:
from pyspark.sql.functions import lower

df3 = df.withColumn('name',lower(col('name')))
df3.show()

+---+-----+
|age| name|
+---+-----+
| 21|arjun|
| 23|rahul|
| 19| john|
+---+-----+

In [12]:
df.drop("age").show()

+-----+
| name|
+-----+
|Arjun|
|Rahul|
| John|
+-----+