In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
.appName('Basics') \
.getOrCreate()

spark.version

'4.0.1'

In [3]:
data = [
("C001", "Arjun", "Hyderabad", 25, 45000, "Electronics"),
("C002", "Meera", "Chennai", 32, 52000, "Grocery"),
("C003", "Rajesh", "Bangalore", 29, 61000, "Clothing"),
("C004", "Priya", "Delhi", 22, 38000, "Grocery"),
("C005", "Sanjay", "Mumbai", 35, 72000, "Electronics"),
("C006", "Kavya", "Hyderabad", 28, 48000, "Grocery"),
("C007", "Imran", "Delhi", 31, 53000, "Clothing"),
("C008", "Divya", "Chennai", 27, 45000, "Electronics"),
("C009", "Anil", "Bangalore", 40, 85000, "Furniture"),
("C010", "Ritu", "Mumbai", 23, 39000, "Clothing"),
("C011", "Hari", "Hyderabad", 33, 56000, "Grocery"),
("C012", "Sana", "Delhi", 26, 47000, "Electronics"),
("C013", "Vikram", "Chennai", 38, 91000, "Furniture"),
("C014", "Deepa", "Mumbai", 30, 62000, "Clothing"),
("C015", "Asha", "Bangalore", 24, 41000, "Grocery"),
("C016", "Kiran", "Delhi", 29, 59000, "Furniture"),
("C017", "Farah", "Hyderabad", 36, 70000, "Clothing"),
("C018", "Tarun", "Chennai", 28, 53000, "Furniture"),
("C019", "Nisha", "Mumbai", 21, 35000, "Grocery"),
("C020", "Yusuf", "Bangalore", 34, 76000, "Electronics"),
("C021", "Pooja", "Delhi", 27, 47000, "Clothing"),
("C022", "Zara", "Hyderabad", 32, 58000, "Grocery"),
("C023", "Ajay", "Chennai", 30, 51000, "Furniture"),
("C024", "Reema", "Bangalore", 28, 49000, "Clothing"),
("C025", "Gautam", "Mumbai", 39, 82000, "Furniture"),
("C026", "Swati", "Delhi", 25, 46000, "Electronics"),
("C027", "Mahesh", "Hyderabad", 41, 90000, "Furniture"),
("C028", "Anita", "Chennai", 26, 44000, "Clothing"),
("C029", "Sameer", "Bangalore", 33, 68000, "Electronics"),
("C030", "Leela", "Delhi", 22, 36000, "Grocery")
]

In [4]:
columns = ["customer_id", "name", "city", "age", "annual_spend", "categories"]

In [5]:
df = spark.createDataFrame(data, columns)
df.show()

+-----------+------+---------+---+------------+-----------+
|customer_id|  name|     city|age|annual_spend| categories|
+-----------+------+---------+---+------------+-----------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|
|       C008| Divya|  Chennai| 27|       45000|Electronics|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|
+-----------+------+---------+---+------------+-----------+
only showing top 20 rows

#1

In [6]:
df.limit(10).show()

+-----------+------+---------+---+------------+-----------+
|customer_id|  name|     city|age|annual_spend| categories|
+-----------+------+---------+---+------------+-----------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|
|       C008| Divya|  Chennai| 27|       45000|Electronics|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|
+-----------+------+---------+---+------------+-----------+

#2

In [7]:
unique_city = df.select("city").distinct()
unique_city.show()

+---------+
|     city|
+---------+
|Bangalore|
|  Chennai|
|   Mumbai|
|    Delhi|
|Hyderabad|
+---------+

#3

In [8]:
a = df.select("customer_id","name","annual_spend")
a.show()

+-----------+------+------------+
|customer_id|  name|annual_spend|
+-----------+------+------------+
|       C001| Arjun|       45000|
|       C002| Meera|       52000|
|       C003|Rajesh|       61000|
|       C004| Priya|       38000|
|       C005|Sanjay|       72000|
|       C006| Kavya|       48000|
|       C007| Imran|       53000|
|       C008| Divya|       45000|
|       C009|  Anil|       85000|
|       C010|  Ritu|       39000|
|       C011|  Hari|       56000|
|       C012|  Sana|       47000|
|       C013|Vikram|       91000|
|       C014| Deepa|       62000|
|       C015|  Asha|       41000|
|       C016| Kiran|       59000|
|       C017| Farah|       70000|
|       C018| Tarun|       53000|
|       C019| Nisha|       35000|
|       C020| Yusuf|       76000|
+-----------+------+------------+
only showing top 20 rows

4

In [9]:
spend = df.filter(df.annual_spend > 60000).show()

+-----------+------+---------+---+------------+-----------+
|customer_id|  name|     city|age|annual_spend| categories|
+-----------+------+---------+---+------------+-----------+
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|
|       C025|Gautam|   Mumbai| 39|       82000|  Furniture|
|       C027|Mahesh|Hyderabad| 41|       90000|  Furniture|
|       C029|Sameer|Bangalore| 33|       68000|Electronics|
+-----------+------+---------+---+------------+-----------+

5

In [10]:
delhi = df.filter((df.city == "Delhi")&(df.age < 30)).show()

+-----------+-----+-----+---+------------+-----------+
|customer_id| name| city|age|annual_spend| categories|
+-----------+-----+-----+---+------------+-----------+
|       C004|Priya|Delhi| 22|       38000|    Grocery|
|       C012| Sana|Delhi| 26|       47000|Electronics|
|       C016|Kiran|Delhi| 29|       59000|  Furniture|
|       C021|Pooja|Delhi| 27|       47000|   Clothing|
|       C026|Swati|Delhi| 25|       46000|Electronics|
|       C030|Leela|Delhi| 22|       36000|    Grocery|
+-----------+-----+-----+---+------------+-----------+

6

In [11]:
from pyspark.sql.functions import lit, when, col
df = df.withColumn("spend_lakh", df.annual_spend / 100000)
df.show()

+-----------+------+---------+---+------------+-----------+----------+
|customer_id|  name|     city|age|annual_spend| categories|spend_lakh|
+-----------+------+---------+---+------------+-----------+----------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|      0.45|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|      0.52|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|      0.61|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|      0.38|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      0.72|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|      0.48|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|      0.53|
|       C008| Divya|  Chennai| 27|       45000|Electronics|      0.45|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|      0.85|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|      0.39|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|      0.56|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|      0.47|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|      0.91|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|      0.62|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|      0.41|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|      0.59|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|       0.7|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|      0.53|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|      0.35|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      0.76|
+-----------+------+---------+---+------------+-----------+----------+
only showing top 20 rows

7

In [12]:
df = df.withColumn("customer_type", when(df.annual_spend > 70000, "Premium")
.otherwise("Standard"))
df.show()

+-----------+------+---------+---+------------+-----------+----------+-------------+
|customer_id|  name|     city|age|annual_spend| categories|spend_lakh|customer_type|
+-----------+------+---------+---+------------+-----------+----------+-------------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|      0.45|     Standard|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|      0.52|     Standard|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|      0.61|     Standard|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|      0.38|     Standard|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      0.72|      Premium|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|      0.48|     Standard|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|      0.53|     Standard|
|       C008| Divya|  Chennai| 27|       45000|Electronics|      0.45|     Standard|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|      0.85|      Premium|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|      0.39|     Standard|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|      0.56|     Standard|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|      0.47|     Standard|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|      0.91|      Premium|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|      0.62|     Standard|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|      0.41|     Standard|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|      0.59|     Standard|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|       0.7|     Standard|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|      0.53|     Standard|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|      0.35|     Standard|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      0.76|      Premium|
+-----------+------+---------+---+------------+-----------+----------+-------------+
only showing top 20 rows

8

In [13]:
a = df.filter(col("name").startswith("A"))
a.show()

+-----------+-----+---------+---+------------+-----------+----------+-------------+
|customer_id| name|     city|age|annual_spend| categories|spend_lakh|customer_type|
+-----------+-----+---------+---+------------+-----------+----------+-------------+
|       C001|Arjun|Hyderabad| 25|       45000|Electronics|      0.45|     Standard|
|       C009| Anil|Bangalore| 40|       85000|  Furniture|      0.85|      Premium|
|       C015| Asha|Bangalore| 24|       41000|    Grocery|      0.41|     Standard|
|       C023| Ajay|  Chennai| 30|       51000|  Furniture|      0.51|     Standard|
|       C028|Anita|  Chennai| 26|       44000|   Clothing|      0.44|     Standard|
+-----------+-----+---------+---+------------+-----------+----------+-------------+

9

In [14]:
x = df.filter( (df.categories  == "Electronics") | (df.categories  == "Clothing") ) \
    .show()

+-----------+------+---------+---+------------+-----------+----------+-------------+
|customer_id|  name|     city|age|annual_spend| categories|spend_lakh|customer_type|
+-----------+------+---------+---+------------+-----------+----------+-------------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|      0.45|     Standard|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|      0.61|     Standard|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      0.72|      Premium|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|      0.53|     Standard|
|       C008| Divya|  Chennai| 27|       45000|Electronics|      0.45|     Standard|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|      0.39|     Standard|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|      0.47|     Standard|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|      0.62|     Standard|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|       0.7|     Standard|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      0.76|      Premium|
|       C021| Pooja|    Delhi| 27|       47000|   Clothing|      0.47|     Standard|
|       C024| Reema|Bangalore| 28|       49000|   Clothing|      0.49|     Standard|
|       C026| Swati|    Delhi| 25|       46000|Electronics|      0.46|     Standard|
|       C028| Anita|  Chennai| 26|       44000|   Clothing|      0.44|     Standard|
|       C029|Sameer|Bangalore| 33|       68000|Electronics|      0.68|     Standard|
+-----------+------+---------+---+------------+-----------+----------+-------------+

10

In [15]:
from pyspark.sql.functions import upper
df3 = df.withColumn('city',upper(col('city')))
df3.show()

+-----------+------+---------+---+------------+-----------+----------+-------------+
|customer_id|  name|     city|age|annual_spend| categories|spend_lakh|customer_type|
+-----------+------+---------+---+------------+-----------+----------+-------------+
|       C001| Arjun|HYDERABAD| 25|       45000|Electronics|      0.45|     Standard|
|       C002| Meera|  CHENNAI| 32|       52000|    Grocery|      0.52|     Standard|
|       C003|Rajesh|BANGALORE| 29|       61000|   Clothing|      0.61|     Standard|
|       C004| Priya|    DELHI| 22|       38000|    Grocery|      0.38|     Standard|
|       C005|Sanjay|   MUMBAI| 35|       72000|Electronics|      0.72|      Premium|
|       C006| Kavya|HYDERABAD| 28|       48000|    Grocery|      0.48|     Standard|
|       C007| Imran|    DELHI| 31|       53000|   Clothing|      0.53|     Standard|
|       C008| Divya|  CHENNAI| 27|       45000|Electronics|      0.45|     Standard|
|       C009|  Anil|BANGALORE| 40|       85000|  Furniture|      0.85|      Premium|
|       C010|  Ritu|   MUMBAI| 23|       39000|   Clothing|      0.39|     Standard|
|       C011|  Hari|HYDERABAD| 33|       56000|    Grocery|      0.56|     Standard|
|       C012|  Sana|    DELHI| 26|       47000|Electronics|      0.47|     Standard|
|       C013|Vikram|  CHENNAI| 38|       91000|  Furniture|      0.91|      Premium|
|       C014| Deepa|   MUMBAI| 30|       62000|   Clothing|      0.62|     Standard|
|       C015|  Asha|BANGALORE| 24|       41000|    Grocery|      0.41|     Standard|
|       C016| Kiran|    DELHI| 29|       59000|  Furniture|      0.59|     Standard|
|       C017| Farah|HYDERABAD| 36|       70000|   Clothing|       0.7|     Standard|
|       C018| Tarun|  CHENNAI| 28|       53000|  Furniture|      0.53|     Standard|
|       C019| Nisha|   MUMBAI| 21|       35000|    Grocery|      0.35|     Standard|
|       C020| Yusuf|BANGALORE| 34|       76000|Electronics|      0.76|      Premium|
+-----------+------+---------+---+------------+-----------+----------+-------------+
only showing top 20 rows

11

In [16]:
df1 = df
df.drop("categories").show()

+-----------+------+---------+---+------------+----------+-------------+
|customer_id|  name|     city|age|annual_spend|spend_lakh|customer_type|
+-----------+------+---------+---+------------+----------+-------------+
|       C001| Arjun|Hyderabad| 25|       45000|      0.45|     Standard|
|       C002| Meera|  Chennai| 32|       52000|      0.52|     Standard|
|       C003|Rajesh|Bangalore| 29|       61000|      0.61|     Standard|
|       C004| Priya|    Delhi| 22|       38000|      0.38|     Standard|
|       C005|Sanjay|   Mumbai| 35|       72000|      0.72|      Premium|
|       C006| Kavya|Hyderabad| 28|       48000|      0.48|     Standard|
|       C007| Imran|    Delhi| 31|       53000|      0.53|     Standard|
|       C008| Divya|  Chennai| 27|       45000|      0.45|     Standard|
|       C009|  Anil|Bangalore| 40|       85000|      0.85|      Premium|
|       C010|  Ritu|   Mumbai| 23|       39000|      0.39|     Standard|
|       C011|  Hari|Hyderabad| 33|       56000|      0.56|     Standard|
|       C012|  Sana|    Delhi| 26|       47000|      0.47|     Standard|
|       C013|Vikram|  Chennai| 38|       91000|      0.91|      Premium|
|       C014| Deepa|   Mumbai| 30|       62000|      0.62|     Standard|
|       C015|  Asha|Bangalore| 24|       41000|      0.41|     Standard|
|       C016| Kiran|    Delhi| 29|       59000|      0.59|     Standard|
|       C017| Farah|Hyderabad| 36|       70000|       0.7|     Standard|
|       C018| Tarun|  Chennai| 28|       53000|      0.53|     Standard|
|       C019| Nisha|   Mumbai| 21|       35000|      0.35|     Standard|
|       C020| Yusuf|Bangalore| 34|       76000|      0.76|      Premium|
+-----------+------+---------+---+------------+----------+-------------+
only showing top 20 rows

12

In [17]:

df.sort(col("age").desc()).show(truncate=False)

+-----------+------+---------+---+------------+-----------+----------+-------------+
|customer_id|name  |city     |age|annual_spend|categories |spend_lakh|customer_type|
+-----------+------+---------+---+------------+-----------+----------+-------------+
|C027       |Mahesh|Hyderabad|41 |90000       |Furniture  |0.9       |Premium      |
|C009       |Anil  |Bangalore|40 |85000       |Furniture  |0.85      |Premium      |
|C025       |Gautam|Mumbai   |39 |82000       |Furniture  |0.82      |Premium      |
|C013       |Vikram|Chennai  |38 |91000       |Furniture  |0.91      |Premium      |
|C017       |Farah |Hyderabad|36 |70000       |Clothing   |0.7       |Standard     |
|C005       |Sanjay|Mumbai   |35 |72000       |Electronics|0.72      |Premium      |
|C020       |Yusuf |Bangalore|34 |76000       |Electronics|0.76      |Premium      |
|C011       |Hari  |Hyderabad|33 |56000       |Grocery    |0.56      |Standard     |
|C029       |Sameer|Bangalore|33 |68000       |Electronics|0.68      |Standard     |
|C002       |Meera |Chennai  |32 |52000       |Grocery    |0.52      |Standard     |
|C022       |Zara  |Hyderabad|32 |58000       |Grocery    |0.58      |Standard     |
|C007       |Imran |Delhi    |31 |53000       |Clothing   |0.53      |Standard     |
|C023       |Ajay  |Chennai  |30 |51000       |Furniture  |0.51      |Standard     |
|C014       |Deepa |Mumbai   |30 |62000       |Clothing   |0.62      |Standard     |
|C016       |Kiran |Delhi    |29 |59000       |Furniture  |0.59      |Standard     |
|C003       |Rajesh|Bangalore|29 |61000       |Clothing   |0.61      |Standard     |
|C018       |Tarun |Chennai  |28 |53000       |Furniture  |0.53      |Standard     |
|C006       |Kavya |Hyderabad|28 |48000       |Grocery    |0.48      |Standard     |
|C024       |Reema |Bangalore|28 |49000       |Clothing   |0.49      |Standard     |
|C008       |Divya |Chennai  |27 |45000       |Electronics|0.45      |Standard     |
+-----------+------+---------+---+------------+-----------+----------+-------------+
only showing top 20 rows

13

In [18]:
# Find customers who are younger than the average age of the entire dataset.
# Steps:
# 1. Calculate average age.

# 2. Filter df where age < avg_age.

from pyspark.sql.functions import mean

avg_age = df.select(mean("age")).collect()[0][0]

df.filter(df.age < avg_age).show()

+-----------+------+---------+---+------------+-----------+----------+-------------+
|customer_id|  name|     city|age|annual_spend| categories|spend_lakh|customer_type|
+-----------+------+---------+---+------------+-----------+----------+-------------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|      0.45|     Standard|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|      0.61|     Standard|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|      0.38|     Standard|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|      0.48|     Standard|
|       C008| Divya|  Chennai| 27|       45000|Electronics|      0.45|     Standard|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|      0.39|     Standard|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|      0.47|     Standard|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|      0.41|     Standard|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|      0.59|     Standard|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|      0.53|     Standard|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|      0.35|     Standard|
|       C021| Pooja|    Delhi| 27|       47000|   Clothing|      0.47|     Standard|
|       C024| Reema|Bangalore| 28|       49000|   Clothing|      0.49|     Standard|
|       C026| Swati|    Delhi| 25|       46000|Electronics|      0.46|     Standard|
|       C028| Anita|  Chennai| 26|       44000|   Clothing|      0.44|     Standard|
|       C030| Leela|    Delhi| 22|       36000|    Grocery|      0.36|     Standard|
+-----------+------+---------+---+------------+-----------+----------+-------------+

14

In [19]:
df.sort(col("annual_spend").desc()).limit(5).show(truncate=False)

+-----------+------+---------+---+------------+-----------+----------+-------------+
|customer_id|name  |city     |age|annual_spend|categories |spend_lakh|customer_type|
+-----------+------+---------+---+------------+-----------+----------+-------------+
|C013       |Vikram|Chennai  |38 |91000       |Furniture  |0.91      |Premium      |
|C027       |Mahesh|Hyderabad|41 |90000       |Furniture  |0.9       |Premium      |
|C009       |Anil  |Bangalore|40 |85000       |Furniture  |0.85      |Premium      |
|C025       |Gautam|Mumbai   |39 |82000       |Furniture  |0.82      |Premium      |
|C020       |Yusuf |Bangalore|34 |76000       |Electronics|0.76      |Premium      |
+-----------+------+---------+---+------------+-----------+----------+-------------+

15

In [20]:
df1 = df.filter(df.city == "Mumbai")
df1.show()

+-----------+------+------+---+------------+-----------+----------+-------------+
|customer_id|  name|  city|age|annual_spend| categories|spend_lakh|customer_type|
+-----------+------+------+---+------------+-----------+----------+-------------+
|       C005|Sanjay|Mumbai| 35|       72000|Electronics|      0.72|      Premium|
|       C010|  Ritu|Mumbai| 23|       39000|   Clothing|      0.39|     Standard|
|       C014| Deepa|Mumbai| 30|       62000|   Clothing|      0.62|     Standard|
|       C019| Nisha|Mumbai| 21|       35000|    Grocery|      0.35|     Standard|
|       C025|Gautam|Mumbai| 39|       82000|  Furniture|      0.82|      Premium|
+-----------+------+------+---+------------+-----------+----------+-------------+

B1

In [21]:
from pyspark.sql.functions import substring
df3 = df.withColumn('new_name',substring(col("name"), 1, 1))
df3.show()

+-----------+------+---------+---+------------+-----------+----------+-------------+--------+
|customer_id|  name|     city|age|annual_spend| categories|spend_lakh|customer_type|new_name|
+-----------+------+---------+---+------------+-----------+----------+-------------+--------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|      0.45|     Standard|       A|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|      0.52|     Standard|       M|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|      0.61|     Standard|       R|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|      0.38|     Standard|       P|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      0.72|      Premium|       S|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|      0.48|     Standard|       K|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|      0.53|     Standard|       I|
|       C008| Divya|  Chennai| 27|       45000|Electronics|      0.45|     Standard|       D|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|      0.85|      Premium|       A|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|      0.39|     Standard|       R|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|      0.56|     Standard|       H|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|      0.47|     Standard|       S|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|      0.91|      Premium|       V|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|      0.62|     Standard|       D|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|      0.41|     Standard|       A|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|      0.59|     Standard|       K|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|       0.7|     Standard|       F|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|      0.53|     Standard|       T|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|      0.35|     Standard|       N|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      0.76|      Premium|       Y|
+-----------+------+---------+---+------------+-----------+----------+-------------+--------+
only showing top 20 rows

B2

In [26]:
from pyspark.sql.functions import substring,regexp_replace,concat, lit, col

df3 = df3.withColumn(
    "customer_id",
    concat(
        lit("**"),
        substring(col("customer_id"), 4, 2)
    ))

df3.show()

+-----------+------+---------+---+------------+-----------+----------+-------------+--------+
|customer_id|  name|     city|age|annual_spend| categories|spend_lakh|customer_type|new_name|
+-----------+------+---------+---+------------+-----------+----------+-------------+--------+
|         **| Arjun|Hyderabad| 25|       45000|Electronics|      0.45|     Standard|       A|
|         **| Meera|  Chennai| 32|       52000|    Grocery|      0.52|     Standard|       M|
|         **|Rajesh|Bangalore| 29|       61000|   Clothing|      0.61|     Standard|       R|
|         **| Priya|    Delhi| 22|       38000|    Grocery|      0.38|     Standard|       P|
|         **|Sanjay|   Mumbai| 35|       72000|Electronics|      0.72|      Premium|       S|
|         **| Kavya|Hyderabad| 28|       48000|    Grocery|      0.48|     Standard|       K|
|         **| Imran|    Delhi| 31|       53000|   Clothing|      0.53|     Standard|       I|
|         **| Divya|  Chennai| 27|       45000|Electronics|      0.45|     Standard|       D|
|         **|  Anil|Bangalore| 40|       85000|  Furniture|      0.85|      Premium|       A|
|         **|  Ritu|   Mumbai| 23|       39000|   Clothing|      0.39|     Standard|       R|
|         **|  Hari|Hyderabad| 33|       56000|    Grocery|      0.56|     Standard|       H|
|         **|  Sana|    Delhi| 26|       47000|Electronics|      0.47|     Standard|       S|
|         **|Vikram|  Chennai| 38|       91000|  Furniture|      0.91|      Premium|       V|
|         **| Deepa|   Mumbai| 30|       62000|   Clothing|      0.62|     Standard|       D|
|         **|  Asha|Bangalore| 24|       41000|    Grocery|      0.41|     Standard|       A|
|         **| Kiran|    Delhi| 29|       59000|  Furniture|      0.59|     Standard|       K|
|         **| Farah|Hyderabad| 36|       70000|   Clothing|       0.7|     Standard|       F|
|         **| Tarun|  Chennai| 28|       53000|  Furniture|      0.53|     Standard|       T|
|         **| Nisha|   Mumbai| 21|       35000|    Grocery|      0.35|     Standard|       N|
|         **| Yusuf|Bangalore| 34|       76000|Electronics|      0.76|      Premium|       Y|
+-----------+------+---------+---+------------+-----------+----------+-------------+--------+
only showing top 20 rows

B3

In [23]:
from pyspark.sql.functions import upper
df = df.withColumn("check", when(df.age > 35, "is_senior")
.otherwise("young"))
df.show()

+-----------+------+---------+---+------------+-----------+----------+-------------+---------+
|customer_id|  name|     city|age|annual_spend| categories|spend_lakh|customer_type|    check|
+-----------+------+---------+---+------------+-----------+----------+-------------+---------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|      0.45|     Standard|    young|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|      0.52|     Standard|    young|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|      0.61|     Standard|    young|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|      0.38|     Standard|    young|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      0.72|      Premium|    young|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|      0.48|     Standard|    young|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|      0.53|     Standard|    young|
|       C008| Divya|  Chennai| 27|       45000|Electronics|      0.45|     Standard|    young|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|      0.85|      Premium|is_senior|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|      0.39|     Standard|    young|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|      0.56|     Standard|    young|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|      0.47|     Standard|    young|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|      0.91|      Premium|is_senior|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|      0.62|     Standard|    young|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|      0.41|     Standard|    young|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|      0.59|     Standard|    young|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|       0.7|     Standard|is_senior|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|      0.53|     Standard|    young|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|      0.35|     Standard|    young|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      0.76|      Premium|    young|
+-----------+------+---------+---+------------+-----------+----------+-------------+---------+
only showing top 20 rows

B4

In [24]:
from pyspark.sql.functions import count
df_customer_count = df3.groupBy("city").agg(count("customer_id").alias("customer_count")).orderBy("customer_count", ascending=False)
df_customer_count.show()

+---------+--------------+
|     city|customer_count|
+---------+--------------+
|    Delhi|             7|
|Bangalore|             6|
|  Chennai|             6|
|Hyderabad|             6|
|   Mumbai|             5|
+---------+--------------+