<a href="https://colab.research.google.com/github/codingniket/Python-Training/blob/main/17_12_25/17_12_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SQL").getOrCreate()
from pyspark.sql.functions import col,substring

In [5]:
sales_data = [
    ("S001","North","Laptop","2024-01-05",75000),
    ("S002","South","Mobile","2024-01-06",30000),
    ("S003","East","Laptop","2024-01-07",72000),
    ("S004","West","Tablet","2024-01-08",25000),
    ("S005","North","Mobile","2024-01-10",28000),
    ("S006","South","Laptop","2024-01-11",76000),
    ("S007","East","Tablet","2024-01-12",24000),
    ("S008","West","Mobile","2024-01-13",32000),
    ("S009","North","Tablet","2024-01-14",26000),
    ("S010","South","Mobile","2024-01-15",31000),
    ("S011","East","Laptop","2024-01-16",74000),
    ("S012","West","Laptop","2024-01-17",78000)
]

sales_cols = ["sales_id","region","product","sale_date","amount"]

df_sales = spark.createDataFrame(sales_data,sales_cols)
df_sales.show()
df_sales.printSchema()

+--------+------+-------+----------+------+
|sales_id|region|product| sale_date|amount|
+--------+------+-------+----------+------+
|    S001| North| Laptop|2024-01-05| 75000|
|    S002| South| Mobile|2024-01-06| 30000|
|    S003|  East| Laptop|2024-01-07| 72000|
|    S004|  West| Tablet|2024-01-08| 25000|
|    S005| North| Mobile|2024-01-10| 28000|
|    S006| South| Laptop|2024-01-11| 76000|
|    S007|  East| Tablet|2024-01-12| 24000|
|    S008|  West| Mobile|2024-01-13| 32000|
|    S009| North| Tablet|2024-01-14| 26000|
|    S010| South| Mobile|2024-01-15| 31000|
|    S011|  East| Laptop|2024-01-16| 74000|
|    S012|  West| Laptop|2024-01-17| 78000|
+--------+------+-------+----------+------+

root
 |-- sales_id: string (nullable = true)
 |-- region: string (nullable = true)
 |-- product: string (nullable = true)
 |-- sale_date: string (nullable = true)
 |-- amount: long (nullable = true)

In [8]:
df_sales.select("sales_id","amount","product").show()

+--------+------+-------+
|sales_id|amount|product|
+--------+------+-------+
|    S001| 75000| Laptop|
|    S002| 30000| Mobile|
|    S003| 72000| Laptop|
|    S004| 25000| Tablet|
|    S005| 28000| Mobile|
|    S006| 76000| Laptop|
|    S007| 24000| Tablet|
|    S008| 32000| Mobile|
|    S009| 26000| Tablet|
|    S010| 31000| Mobile|
|    S011| 74000| Laptop|
|    S012| 78000| Laptop|
+--------+------+-------+

In [9]:
df_sales.select(col("sales_id"),col("amount").alias("sales")).show()

+--------+-----+
|sales_id|sales|
+--------+-----+
|    S001|75000|
|    S002|30000|
|    S003|72000|
|    S004|25000|
|    S005|28000|
|    S006|76000|
|    S007|24000|
|    S008|32000|
|    S009|26000|
|    S010|31000|
|    S011|74000|
|    S012|78000|
+--------+-----+

**SET 1**

In [10]:
sales_data = [
("T001","North","Delhi","Store-01","Laptop","2024-01-01",75000),
("T002","North","Delhi","Store-01","Mobile","2024-01-02",32000),
("T003","North","Chandigarh","Store-02","Tablet","2024-01-03",26000),
("T004","South","Bangalore","Store-03","Laptop","2024-01-01",78000),
("T005","South","Chennai","Store-04","Mobile","2024-01-02",30000),
("T006","South","Bangalore","Store-03","Tablet","2024-01-03",24000),
("T007","East","Kolkata","Store-05","Laptop","2024-01-01",72000),
("T008","East","Kolkata","Store-05","Mobile","2024-01-02",28000),
("T009","East","Patna","Store-06","Tablet","2024-01-03",23000),
("T010","West","Mumbai","Store-07","Laptop","2024-01-01",80000),
("T011","West","Mumbai","Store-07","Mobile","2024-01-02",35000),
("T012","West","Pune","Store-08","Tablet","2024-01-03",27000),
("T013","North","Delhi","Store-01","Laptop","2024-01-04",76000),
("T014","South","Chennai","Store-04","Laptop","2024-01-04",79000),
("T015","East","Patna","Store-06","Mobile","2024-01-04",29000),
("T016","West","Pune","Store-08","Laptop","2024-01-04",77000),
("T017","North","Chandigarh","Store-02","Mobile","2024-01-05",31000),
("T018","South","Bangalore","Store-03","Mobile","2024-01-05",34000),
("T019","East","Kolkata","Store-05","Tablet","2024-01-05",25000),
("T020","West","Mumbai","Store-07","Tablet","2024-01-05",29000),
("T021","North","Delhi","Store-01","Tablet","2024-01-06",28000),
("T022","South","Chennai","Store-04","Tablet","2024-01-06",26000),
("T023","East","Patna","Store-06","Laptop","2024-01-06",74000),
("T024","West","Pune","Store-08","Mobile","2024-01-06",33000)
]
columns = [
"txn_id","region","city","store_id","product","sale_date","amount"
]
df_sales = spark.createDataFrame(sales_data, columns)
df_sales.show(5)
df_sales.printSchema()

+------+------+----------+--------+-------+----------+------+
|txn_id|region|      city|store_id|product| sale_date|amount|
+------+------+----------+--------+-------+----------+------+
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01| 75000|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02| 32000|
|  T003| North|Chandigarh|Store-02| Tablet|2024-01-03| 26000|
|  T004| South| Bangalore|Store-03| Laptop|2024-01-01| 78000|
|  T005| South|   Chennai|Store-04| Mobile|2024-01-02| 30000|
+------+------+----------+--------+-------+----------+------+
only showing top 5 rows
root
 |-- txn_id: string (nullable = true)
 |-- region: string (nullable = true)
 |-- city: string (nullable = true)
 |-- store_id: string (nullable = true)
 |-- product: string (nullable = true)
 |-- sale_date: string (nullable = true)
 |-- amount: long (nullable = true)

1. Select only txn_id , region , product , and amount

In [13]:
mini_data = df_sales.select("txn_id","region","product","amount")
mini_data.show()

+------+------+-------+------+
|txn_id|region|product|amount|
+------+------+-------+------+
|  T001| North| Laptop| 75000|
|  T002| North| Mobile| 32000|
|  T003| North| Tablet| 26000|
|  T004| South| Laptop| 78000|
|  T005| South| Mobile| 30000|
|  T006| South| Tablet| 24000|
|  T007|  East| Laptop| 72000|
|  T008|  East| Mobile| 28000|
|  T009|  East| Tablet| 23000|
|  T010|  West| Laptop| 80000|
|  T011|  West| Mobile| 35000|
|  T012|  West| Tablet| 27000|
|  T013| North| Laptop| 76000|
|  T014| South| Laptop| 79000|
|  T015|  East| Mobile| 29000|
|  T016|  West| Laptop| 77000|
|  T017| North| Mobile| 31000|
|  T018| South| Mobile| 34000|
|  T019|  East| Tablet| 25000|
|  T020|  West| Tablet| 29000|
+------+------+-------+------+
only showing top 20 rows

2. Rename amount to revenue

In [14]:
mini_data = df_sales.select("txn_id","region","product",col("amount").alias("revenue"))
mini_data.show()

+------+------+-------+-------+
|txn_id|region|product|revenue|
+------+------+-------+-------+
|  T001| North| Laptop|  75000|
|  T002| North| Mobile|  32000|
|  T003| North| Tablet|  26000|
|  T004| South| Laptop|  78000|
|  T005| South| Mobile|  30000|
|  T006| South| Tablet|  24000|
|  T007|  East| Laptop|  72000|
|  T008|  East| Mobile|  28000|
|  T009|  East| Tablet|  23000|
|  T010|  West| Laptop|  80000|
|  T011|  West| Mobile|  35000|
|  T012|  West| Tablet|  27000|
|  T013| North| Laptop|  76000|
|  T014| South| Laptop|  79000|
|  T015|  East| Mobile|  29000|
|  T016|  West| Laptop|  77000|
|  T017| North| Mobile|  31000|
|  T018| South| Mobile|  34000|
|  T019|  East| Tablet|  25000|
|  T020|  West| Tablet|  29000|
+------+------+-------+-------+
only showing top 20 rows

3. Create a derived column amount_in_thousands

In [18]:
from pyspark.sql.functions import col
df = df_sales.withColumn('amount_in_thousands', (col('amount') / 1000).cast('int'))

mini_data = df.select("txn_id","region","product",col("amount_in_thousands").alias("revenue (in thousand)"))
mini_data.show()

+------+------+-------+---------------------+
|txn_id|region|product|revenue (in thousand)|
+------+------+-------+---------------------+
|  T001| North| Laptop|                   75|
|  T002| North| Mobile|                   32|
|  T003| North| Tablet|                   26|
|  T004| South| Laptop|                   78|
|  T005| South| Mobile|                   30|
|  T006| South| Tablet|                   24|
|  T007|  East| Laptop|                   72|
|  T008|  East| Mobile|                   28|
|  T009|  East| Tablet|                   23|
|  T010|  West| Laptop|                   80|
|  T011|  West| Mobile|                   35|
|  T012|  West| Tablet|                   27|
|  T013| North| Laptop|                   76|
|  T014| South| Laptop|                   79|
|  T015|  East| Mobile|                   29|
|  T016|  West| Laptop|                   77|
|  T017| North| Mobile|                   31|
|  T018| South| Mobile|                   34|
|  T019|  East| Tablet|                   25|
|  T020|  West| Tablet|                   29|
+------+------+-------+---------------------+
only showing top 20 rows

4. Select distinct combinations of region and product

In [20]:
mini_data.groupBy("region","product").count().show()

+------+-------+-----+
|region|product|count|
+------+-------+-----+
| North| Laptop|    2|
| North| Tablet|    2|
|  East| Tablet|    2|
|  East| Laptop|    2|
| South| Tablet|    2|
| North| Mobile|    2|
|  West| Tablet|    2|
|  East| Mobile|    2|
| South| Mobile|    2|
| South| Laptop|    2|
|  West| Mobile|    2|
|  West| Laptop|    2|
+------+-------+-----+

5. Select all columns but exclude store_id

In [23]:
dropping = mini_data.drop(col("store_id"))
dropping.show()

+------+------+-------+---------------------+
|txn_id|region|product|revenue (in thousand)|
+------+------+-------+---------------------+
|  T001| North| Laptop|                   75|
|  T002| North| Mobile|                   32|
|  T003| North| Tablet|                   26|
|  T004| South| Laptop|                   78|
|  T005| South| Mobile|                   30|
|  T006| South| Tablet|                   24|
|  T007|  East| Laptop|                   72|
|  T008|  East| Mobile|                   28|
|  T009|  East| Tablet|                   23|
|  T010|  West| Laptop|                   80|
|  T011|  West| Mobile|                   35|
|  T012|  West| Tablet|                   27|
|  T013| North| Laptop|                   76|
|  T014| South| Laptop|                   79|
|  T015|  East| Mobile|                   29|
|  T016|  West| Laptop|                   77|
|  T017| North| Mobile|                   31|
|  T018| South| Mobile|                   34|
|  T019|  East| Tablet|                   25|
|  T020|  West| Tablet|                   29|
+------+------+-------+---------------------+
only showing top 20 rows

6. Create a new column sale_year extracted from sale_date

In [28]:
df = df_sales.withColumn('year', substring(col("sale_date"),0,4))
df.show()

+------+------+----------+--------+-------+----------+------+----+
|txn_id|region|      city|store_id|product| sale_date|amount|year|
+------+------+----------+--------+-------+----------+------+----+
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01| 75000|2024|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02| 32000|2024|
|  T003| North|Chandigarh|Store-02| Tablet|2024-01-03| 26000|2024|
|  T004| South| Bangalore|Store-03| Laptop|2024-01-01| 78000|2024|
|  T005| South|   Chennai|Store-04| Mobile|2024-01-02| 30000|2024|
|  T006| South| Bangalore|Store-03| Tablet|2024-01-03| 24000|2024|
|  T007|  East|   Kolkata|Store-05| Laptop|2024-01-01| 72000|2024|
|  T008|  East|   Kolkata|Store-05| Mobile|2024-01-02| 28000|2024|
|  T009|  East|     Patna|Store-06| Tablet|2024-01-03| 23000|2024|
|  T010|  West|    Mumbai|Store-07| Laptop|2024-01-01| 80000|2024|
|  T011|  West|    Mumbai|Store-07| Mobile|2024-01-02| 35000|2024|
|  T012|  West|      Pune|Store-08| Tablet|2024-01-03| 27000|2024|
|  T013| North|     Delhi|Store-01| Laptop|2024-01-04| 76000|2024|
|  T014| South|   Chennai|Store-04| Laptop|2024-01-04| 79000|2024|
|  T015|  East|     Patna|Store-06| Mobile|2024-01-04| 29000|2024|
|  T016|  West|      Pune|Store-08| Laptop|2024-01-04| 77000|2024|
|  T017| North|Chandigarh|Store-02| Mobile|2024-01-05| 31000|2024|
|  T018| South| Bangalore|Store-03| Mobile|2024-01-05| 34000|2024|
|  T019|  East|   Kolkata|Store-05| Tablet|2024-01-05| 25000|2024|
|  T020|  West|    Mumbai|Store-07| Tablet|2024-01-05| 29000|2024|
+------+------+----------+--------+-------+----------+------+----+
only showing top 20 rows

7. Reorder columns in a business-friendly format

In [29]:
df_reordered = df.select("txn_id", "sale_date", "year", "region", "city", "store_id", "product", "amount")
df_reordered.show()

+------+----------+----+------+----------+--------+-------+------+
|txn_id| sale_date|year|region|      city|store_id|product|amount|
+------+----------+----+------+----------+--------+-------+------+
|  T001|2024-01-01|2024| North|     Delhi|Store-01| Laptop| 75000|
|  T002|2024-01-02|2024| North|     Delhi|Store-01| Mobile| 32000|
|  T003|2024-01-03|2024| North|Chandigarh|Store-02| Tablet| 26000|
|  T004|2024-01-01|2024| South| Bangalore|Store-03| Laptop| 78000|
|  T005|2024-01-02|2024| South|   Chennai|Store-04| Mobile| 30000|
|  T006|2024-01-03|2024| South| Bangalore|Store-03| Tablet| 24000|
|  T007|2024-01-01|2024|  East|   Kolkata|Store-05| Laptop| 72000|
|  T008|2024-01-02|2024|  East|   Kolkata|Store-05| Mobile| 28000|
|  T009|2024-01-03|2024|  East|     Patna|Store-06| Tablet| 23000|
|  T010|2024-01-01|2024|  West|    Mumbai|Store-07| Laptop| 80000|
|  T011|2024-01-02|2024|  West|    Mumbai|Store-07| Mobile| 35000|
|  T012|2024-01-03|2024|  West|      Pune|Store-08| Tablet| 27000|
|  T013|2024-01-04|2024| North|     Delhi|Store-01| Laptop| 76000|
|  T014|2024-01-04|2024| South|   Chennai|Store-04| Laptop| 79000|
|  T015|2024-01-04|2024|  East|     Patna|Store-06| Mobile| 29000|
|  T016|2024-01-04|2024|  West|      Pune|Store-08| Laptop| 77000|
|  T017|2024-01-05|2024| North|Chandigarh|Store-02| Mobile| 31000|
|  T018|2024-01-05|2024| South| Bangalore|Store-03| Mobile| 34000|
|  T019|2024-01-05|2024|  East|   Kolkata|Store-05| Tablet| 25000|
|  T020|2024-01-05|2024|  West|    Mumbai|Store-07| Tablet| 29000|
+------+----------+----+------+----------+--------+-------+------+
only showing top 20 rows

1. Filter transactions where amount > 50000

In [31]:
df_reordered.filter(df_reordered.amount > 50000).show()

+------+----------+----+------+---------+--------+-------+------+
|txn_id| sale_date|year|region|     city|store_id|product|amount|
+------+----------+----+------+---------+--------+-------+------+
|  T001|2024-01-01|2024| North|    Delhi|Store-01| Laptop| 75000|
|  T004|2024-01-01|2024| South|Bangalore|Store-03| Laptop| 78000|
|  T007|2024-01-01|2024|  East|  Kolkata|Store-05| Laptop| 72000|
|  T010|2024-01-01|2024|  West|   Mumbai|Store-07| Laptop| 80000|
|  T013|2024-01-04|2024| North|    Delhi|Store-01| Laptop| 76000|
|  T014|2024-01-04|2024| South|  Chennai|Store-04| Laptop| 79000|
|  T016|2024-01-04|2024|  West|     Pune|Store-08| Laptop| 77000|
|  T023|2024-01-06|2024|  East|    Patna|Store-06| Laptop| 74000|
+------+----------+----+------+---------+--------+-------+------+

2. Filter only Laptop sales

In [32]:
df_reordered.filter(df_reordered.product == "Laptop").show()

+------+----------+----+------+---------+--------+-------+------+
|txn_id| sale_date|year|region|     city|store_id|product|amount|
+------+----------+----+------+---------+--------+-------+------+
|  T001|2024-01-01|2024| North|    Delhi|Store-01| Laptop| 75000|
|  T004|2024-01-01|2024| South|Bangalore|Store-03| Laptop| 78000|
|  T007|2024-01-01|2024|  East|  Kolkata|Store-05| Laptop| 72000|
|  T010|2024-01-01|2024|  West|   Mumbai|Store-07| Laptop| 80000|
|  T013|2024-01-04|2024| North|    Delhi|Store-01| Laptop| 76000|
|  T014|2024-01-04|2024| South|  Chennai|Store-04| Laptop| 79000|
|  T016|2024-01-04|2024|  West|     Pune|Store-08| Laptop| 77000|
|  T023|2024-01-06|2024|  East|    Patna|Store-06| Laptop| 74000|
+------+----------+----+------+---------+--------+-------+------+

3. Filter sales from North and South regions

In [35]:
df_reordered.filter((df_reordered.region == "North") | (df_reordered.region == "South")).show()

+------+----------+----+------+----------+--------+-------+------+
|txn_id| sale_date|year|region|      city|store_id|product|amount|
+------+----------+----+------+----------+--------+-------+------+
|  T001|2024-01-01|2024| North|     Delhi|Store-01| Laptop| 75000|
|  T002|2024-01-02|2024| North|     Delhi|Store-01| Mobile| 32000|
|  T003|2024-01-03|2024| North|Chandigarh|Store-02| Tablet| 26000|
|  T004|2024-01-01|2024| South| Bangalore|Store-03| Laptop| 78000|
|  T005|2024-01-02|2024| South|   Chennai|Store-04| Mobile| 30000|
|  T006|2024-01-03|2024| South| Bangalore|Store-03| Tablet| 24000|
|  T013|2024-01-04|2024| North|     Delhi|Store-01| Laptop| 76000|
|  T014|2024-01-04|2024| South|   Chennai|Store-04| Laptop| 79000|
|  T017|2024-01-05|2024| North|Chandigarh|Store-02| Mobile| 31000|
|  T018|2024-01-05|2024| South| Bangalore|Store-03| Mobile| 34000|
|  T021|2024-01-06|2024| North|     Delhi|Store-01| Tablet| 28000|
|  T022|2024-01-06|2024| South|   Chennai|Store-04| Tablet| 26000|
+------+----------+----+------+----------+--------+-------+------+

4. Filter sales between 25000 and 75000

In [36]:
df_reordered.filter((df_reordered.amount > 25000) & (df_reordered.amount < 75000)).show()

+------+----------+----+------+----------+--------+-------+------+
|txn_id| sale_date|year|region|      city|store_id|product|amount|
+------+----------+----+------+----------+--------+-------+------+
|  T002|2024-01-02|2024| North|     Delhi|Store-01| Mobile| 32000|
|  T003|2024-01-03|2024| North|Chandigarh|Store-02| Tablet| 26000|
|  T005|2024-01-02|2024| South|   Chennai|Store-04| Mobile| 30000|
|  T007|2024-01-01|2024|  East|   Kolkata|Store-05| Laptop| 72000|
|  T008|2024-01-02|2024|  East|   Kolkata|Store-05| Mobile| 28000|
|  T011|2024-01-02|2024|  West|    Mumbai|Store-07| Mobile| 35000|
|  T012|2024-01-03|2024|  West|      Pune|Store-08| Tablet| 27000|
|  T015|2024-01-04|2024|  East|     Patna|Store-06| Mobile| 29000|
|  T017|2024-01-05|2024| North|Chandigarh|Store-02| Mobile| 31000|
|  T018|2024-01-05|2024| South| Bangalore|Store-03| Mobile| 34000|
|  T020|2024-01-05|2024|  West|    Mumbai|Store-07| Tablet| 29000|
|  T021|2024-01-06|2024| North|     Delhi|Store-01| Tablet| 28000|
|  T022|2024-01-06|2024| South|   Chennai|Store-04| Tablet| 26000|
|  T023|2024-01-06|2024|  East|     Patna|Store-06| Laptop| 74000|
|  T024|2024-01-06|2024|  West|      Pune|Store-08| Mobile| 33000|
+------+----------+----+------+----------+--------+-------+------+

5. Filter transactions from Delhi stores only

In [37]:
df_reordered.filter(df_reordered.city == "Delhi").show()

+------+----------+----+------+-----+--------+-------+------+
|txn_id| sale_date|year|region| city|store_id|product|amount|
+------+----------+----+------+-----+--------+-------+------+
|  T001|2024-01-01|2024| North|Delhi|Store-01| Laptop| 75000|
|  T002|2024-01-02|2024| North|Delhi|Store-01| Mobile| 32000|
|  T013|2024-01-04|2024| North|Delhi|Store-01| Laptop| 76000|
|  T021|2024-01-06|2024| North|Delhi|Store-01| Tablet| 28000|
+------+----------+----+------+-----+--------+-------+------+

6. Apply multiple filters using both filter and where

In [38]:
df_reordered.filter(df_reordered.product == "Laptop").where(df_reordered.region == "North").show()

+------+----------+----+------+-----+--------+-------+------+
|txn_id| sale_date|year|region| city|store_id|product|amount|
+------+----------+----+------+-----+--------+-------+------+
|  T001|2024-01-01|2024| North|Delhi|Store-01| Laptop| 75000|
|  T013|2024-01-04|2024| North|Delhi|Store-01| Laptop| 76000|
+------+----------+----+------+-----+--------+-------+------+

7. Change the order of filters and compare explain(True)

In [39]:
print("Filter Product then Region:")
df_reordered.filter(df_reordered.product == "Laptop").filter(df_reordered.region == "North").explain(True)

print("\nFilter Region then Product:")
df_reordered.filter(df_reordered.region == "North").filter(df_reordered.product == "Laptop").explain(True)

Filter Product then Region:
== Parsed Logical Plan ==
'Filter '`=`(region#40, North)
+- Filter (product#43 = Laptop)
   +- Project [txn_id#39, sale_date#44, year#201, region#40, city#41, store_id#42, product#43, amount#45L]
      +- Project [txn_id#39, region#40, city#41, store_id#42, product#43, sale_date#44, amount#45L, substring(sale_date#44, 0, 4) AS year#201]
         +- LogicalRDD [txn_id#39, region#40, city#41, store_id#42, product#43, sale_date#44, amount#45L], false

== Analyzed Logical Plan ==
txn_id: string, sale_date: string, year: string, region: string, city: string, store_id: string, product: string, amount: bigint
Filter (region#40 = North)
+- Filter (product#43 = Laptop)
   +- Project [txn_id#39, sale_date#44, year#201, region#40, city#41, store_id#42, product#43, amount#45L]
      +- Project [txn_id#39, region#40, city#41, store_id#42, product#43, sale_date#44, amount#45L, substring(sale_date#44, 0, 4) AS year#201]
         +- LogicalRDD [txn_id#39, region#40, city#41, store_id#42, product#43, sale_date#44, amount#45L], false

== Optimized Logical Plan ==
Project [txn_id#39, sale_date#44, substring(sale_date#44, 0, 4) AS year#201, region#40, city#41, store_id#42, product#43, amount#45L]
+- Filter ((isnotnull(product#43) AND isnotnull(region#40)) AND ((product#43 = Laptop) AND (region#40 = North)))
   +- LogicalRDD [txn_id#39, region#40, city#41, store_id#42, product#43, sale_date#44, amount#45L], false

== Physical Plan ==
*(1) Project [txn_id#39, sale_date#44, substring(sale_date#44, 0, 4) AS year#201, region#40, city#41, store_id#42, product#43, amount#45L]
+- *(1) Filter ((isnotnull(product#43) AND isnotnull(region#40)) AND ((product#43 = Laptop) AND (region#40 = North)))
   +- *(1) Scan ExistingRDD[txn_id#39,region#40,city#41,store_id#42,product#43,sale_date#44,amount#45L]


Filter Region then Product:
== Parsed Logical Plan ==
'Filter '`=`(product#43, Laptop)
+- Filter (region#40 = North)
   +- Project [txn_id#39, sale_date#44, year#201, region#40, city#41, store_id#42, product#43, amount#45L]
      +- Project [txn_id#39, region#40, city#41, store_id#42, product#43, sale_date#44, amount#45L, substring(sale_date#44, 0, 4) AS year#201]
         +- LogicalRDD [txn_id#39, region#40, city#41, store_id#42, product#43, sale_date#44, amount#45L], false

== Analyzed Logical Plan ==
txn_id: string, sale_date: string, year: string, region: string, city: string, store_id: string, product: string, amount: bigint
Filter (product#43 = Laptop)
+- Filter (region#40 = North)
   +- Project [txn_id#39, sale_date#44, year#201, region#40, city#41, store_id#42, product#43, amount#45L]
      +- Project [txn_id#39, region#40, city#41, store_id#42, product#43, sale_date#44, amount#45L, substring(sale_date#44, 0, 4) AS year#201]
         +- LogicalRDD [txn_id#39, region#40, city#41, store_id#42, product#43, sale_date#44, amount#45L], false

== Optimized Logical Plan ==
Project [txn_id#39, sale_date#44, substring(sale_date#44, 0, 4) AS year#201, region#40, city#41, store_id#42, product#43, amount#45L]
+- Filter ((isnotnull(region#40) AND isnotnull(product#43)) AND ((region#40 = North) AND (product#43 = Laptop)))
   +- LogicalRDD [txn_id#39, region#40, city#41, store_id#42, product#43, sale_date#44, amount#45L], false

== Physical Plan ==
*(1) Project [txn_id#39, sale_date#44, substring(sale_date#44, 0, 4) AS year#201, region#40, city#41, store_id#42, product#43, amount#45L]
+- *(1) Filter ((isnotnull(region#40) AND isnotnull(product#43)) AND ((region#40 = North) AND (product#43 = Laptop)))
   +- *(1) Scan ExistingRDD[txn_id#39,region#40,city#41,store_id#42,product#43,sale_date#44,amount#45L]

8. Identify which filters Spark pushes down

In [40]:
# As observed in the 'Optimized Logical Plan' and 'Physical Plan' sections of the previous explain(True) output,
# Spark pushed down both filter conditions together.
# The combined filter shown was: `((isnotnull(product#X) AND isnotnull(region#Y)) AND ((product#X = Laptop) AND (region#Y = North)))`.
# This indicates that Spark's Catalyst Optimizer combined the two separate filter calls into a single, efficient filter operation
# that is applied directly when reading the data from the RDD (Scan ExistingRDD).

1. Total sales amount per region

In [ ]:
from pyspark.sql.functions import sum

df_sales.groupBy("region").agg(sum("amount").alias("total_sales_amount")).show()

### Total sales amount per region using `reduceByKey`

To use `reduceByKey`, we first convert the DataFrame to an RDD and then transform the data into key-value pairs (region, amount) before applying the reduction.

In [46]:
sales_rdd = df_sales.rdd.map(lambda row: (row['region'], row['amount']))

total_sales_by_region_rdd = sales_rdd.reduceByKey(lambda a, b: a + b)

total_sales_by_region_rdd.collect()

[('North', 268000), ('West', 281000), ('South', 271000), ('East', 251000)]

In [43]:
from pyspark.sql.functions import sum

df_sales.groupBy("region").agg(sum("amount").alias("total_sales_amount")).show()

+------+------------------+
|region|total_sales_amount|
+------+------------------+
| South|            271000|
|  East|            251000|
|  West|            281000|
| North|            268000|
+------+------------------+

2. Average sales amount per product

In [47]:
from pyspark.sql.functions import sum

df_sales.groupBy("product").agg(sum("amount").alias("total_sales_per_product")).show()

+-------+-----------------------+
|product|total_sales_per_product|
+-------+-----------------------+
| Laptop|                 611000|
| Mobile|                 252000|
| Tablet|                 208000|
+-------+-----------------------+

3. Maximum sale per city

4. Minimum sale per store

5. Count of transactions per region

6. Total revenue per store

7. Region-wise product sales count

8. Average transaction value per city

9. Identify regions with total sales above a threshold

10. Use explain(True) and identify shuffle stages